//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

$dark-color: #1a1b23;
$primary-color: #009fe8;
$secondary-color: #777777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #edf0f2;
$medium-gray: #cacaca;
$dark-gray: #494E54;
$black: $dark-gray;
$white: #ffffff;
$pre-color: #ff6908;
$global-width: 600px;
$global-width-small: 95%;
$global-gutter: 16px;
$body-background: $light-gray;
$container-background: $white;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

$large-screen: 617px;
$max-width-large-screen: 616px;
$base-radius: 8px;
$big-radius: 15px;
$mid-radius: 12px;
$small-radius: 4px;
$button-round-radius: 50px;
$color-gray: #898989;
$color-gray-border: #e0e0e0;
$button-line-height: 1.3;
$color-gray-calendar: #ededed;
$color-dark: #4a4a4a;
$heading-main-font-size: 30px;
$heading-second-font-size: 20px;


// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: $dark-gray;
$body-font-family: 'Roboto', Arial, Helvetica, Verdana, sans-serif;
$global-font-weight: 300;
$header-color: inherit;
$global-line-height: 1.4;
$global-font-size: 14px;
$body-line-height: $global-line-height;
$header-font-family: $body-font-family;
$header-font-weight: 300;
$h1-font-size: 36px;
$h2-font-size: 23px;
$h3-font-size: 14px;
$h4-font-size: 13px;
$big-font-size: 18px;
$tiny-font-size: 11px;
$huge-font-size: 27px;
$super-tiny-font-size: 10px;
$header-margin-bottom: 20px;
$paragraph-margin-bottom: 14px;
$small-font-size: 80%;
$small-font-color: $color-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $color-gray-border;
$hr-margin: 20px auto;
$anchor-text-decoration: none;
$anchor-color: $primary-color;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 0px 22px 0px 22px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: 10px,
  small: 12px,
  default: 11px,
  large: 20px,
);
$button-round-radius-small: 2px;
$button-color: $white;
$button-color-alt: $medium-gray;
$button-font-weight: normal;
$button-margin: 0 0 $global-margin 0;
$button-background: $primary-color;
$button-border: 2px solid $button-background;
$button-radius: $base-radius;
$button-rounded: $button-round-radius;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: 0;
$callout-border: 0;
$callout-border-secondary: $callout-border;
$callout-border-success: $callout-border;
$callout-border-warning: $callout-border;
$callout-border-alert: $callout-border;

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

