.auto-available-wrapper {
  .wrapper-inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.auto-available-wrapper--digest-left {
  > tbody > tr > .wrapper-inner {
    padding-left: 32px;
  }
}

.auto-available-wrapper--digest-right {
  > tbody > tr > .wrapper-inner {
    padding-right: 32px;
  }
}

.auto-available {
  background: $light-gray;
  border-radius: $big-radius;

  .wrapper-inner {
    padding-left: 0;
    padding-right: 0;
  }

  &__badge {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 5px;
    color: $white !important;
    background: $primary-color;
    text-align: center;
    font-weight: bold;
    font-size: $h4-font-size;
    border-radius: $button-round-radius;
  }

  &__text {
    margin-bottom: 0 !important;

    &--nowrap {
      white-space: nowrap;
    }
  }

  &__col {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
