.brand-model {
  &__title {
    margin-bottom: 25px;
  }

  &__img {
    height: auto;
  }

  &__text {
    margin-bottom: 0 !important;
  }

  th.columns {
    padding-bottom: 8px !important;
  }

  p {
    line-height: 15px;
  }
}
