.button {
  td {
    border-radius: $button-round-radius;
    border: 0px solid transparent !important;
    background: $primary-color;
  }

  a {
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
}
