.calendar {
  max-width: 66px;
  border-radius: $base-radius;
  
  @media only screen and (min-width: $large-screen) {
    margin-left: 0;
  }
  
  &__header {
    border-top-right-radius: $base-radius;
    border-top-left-radius: $base-radius;
    background: $primary-color;
    
    th.columns {
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
    }
  }
  
  &__body {
    background: $color-gray-calendar;
    
    th.columns {
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
    }
  }
  
  &__month {
    margin-bottom: 0 !important;
    line-height: 12px;
    text-transform: uppercase;
    color: $white;
  }
  
  &__date {
    line-height: 30px;
    margin-bottom: 0 !important;
  }
  
  &__day {
    line-height: 9px;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    
    th {
      padding-bottom: 0 !important;
    }
  }
  
  &__footer {
    border-bottom-right-radius: $base-radius;
    border-bottom-left-radius: $base-radius;
    background: $color-gray-calendar;
    margin-bottom: 0 !important;
    
    th.columns {
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
    }
  }
}