.cars {
  &__text {
    margin-bottom: 0 !important;
  }

  th.small-12.large-6.columns {
    padding-bottom: 0 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  &__img {
    height: auto;
  }
}
