.client-wrapper {
  .wrapper-inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.client {
  background: $light-gray;
  border-radius: $big-radius;

  &--audi {
    background-color: #f2f2f2;
    border-radius: 2px;
  }

  &__text {
    line-height: 19px;
    margin-bottom: 0 !important;
  }

  &__avatar {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 2px;
    border-radius: $button-round-radius;
  }

  &__gallery {
    padding-bottom: 0 !important;

    th {
      text-align: center !important;
    }
  }

  &__gallery-img {
    display: inline-block;
    margin: 3px 5px 0 0 !important;
    height: auto;
  }

  th.columns {
    padding-bottom: 8px !important;
  }

  &__address {
    display: inline-block;

    .title--bold {
      line-height: 24px;
    }
  }

  &__car-logo {
    display: inline-block;
    margin-right: 10px;
    height: 34px;
  }

  &__text-big-line {
    line-height: 24px;
  }
}
