.copyright {
  background: $light-gray !important;

  .columns {
    padding-bottom: 0;
  }

  &__text {
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 18px;
    color: $color-gray;

    @media only screen and (min-width: $large-screen) {
      margin-top: 0 !important;
    }
  }

  &__menu {
    margin-top: 12px;
    line-height: 16px;
    color: $primary-color;

    @media only screen and (min-width: $large-screen) {
      margin-top: 0 !important;
    }
  }

  &__link {
    font-size: $tiny-font-size;
    white-space: nowrap;

    &--dark {
      color: $dark-color;

      &:visited {
        color: $dark-color;
      }

      &:hover {
        color: #000;
      }
    }
  }

  &__divider {
    font-size: $tiny-font-size;
    color: $primary-color;

    &--dark {
      color: $dark-color;
    }
  }
}
