.dealers {
  th {
    padding-bottom: 0 !important;
  }

  &__title {
    margin-bottom: 17px;
  }

  &__subtitle {
    margin-bottom: 0 !important;
  }

  &__text {
    margin-bottom: 0 !important;
  }

  a {
    color: inherit !important;
    text-decoration: none;
  }
}
