.footer {
  padding-top: 30px;
  background: $primary-color;
  border-bottom-right-radius: $mid-radius;
  border-bottom-left-radius: $mid-radius;

  &__link {
    display: inline-block;

    &--not-last {
      margin-right: 17px;
    }
  }
}
