body,
html,
.body {
  background: $light-gray;
}

th.columns.first.padding-sm {
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-bottom: 0 !important;
}

th.columns.last.padding-sm {
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-bottom: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

b {
  font-weight: bold !important;
}
