.grid {
  &__img {
    height: auto;
  }

  &__bg {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 666px;
  }

  &__bg-sizer {
    max-width: 320px;
    margin-bottom: 60px;
  }

  &__col-padding {
    padding: 0 !important;
  }

  &__float-left {
    margin: 0 16px 8px 0;
  }

  &__float-right {
    margin: 0 0 8px 16px;
  }

  @media only screen and (max-width: $max-width-large-screen) {
    &__float-left,
    &__float-right {
      display: block;
      float: none;
      margin: 0 auto 16px !important;
    }
  }
}
