table.hr {
  width: 100%;
  margin: 0;
  Margin: 0;

  td {
    line-height: 0;
    height: 0;
    border: 0;
    margin: 0;
    Margin: 0;
    padding: 0;
    
    &.hr__margin {
      width: $global-gutter;
      max-width: $global-gutter;
    }

    &.hr__middle {
      border-bottom: $hr-border;
    }
  }
}