.text-badge {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: $primary-color;
  color: $white;
  border-radius: $small-radius;
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 2px;
  font-size: 15px;
  line-height: 20px;
}
