.text {
  &--small {
    font-size: $h4-font-size !important;
  }

  &--tiny {
    font-size: $tiny-font-size !important;
  }

  &--super-tiny {
    font-size: $super-tiny-font-size !important;
  }

  &--huge {
    font-size: $huge-font-size !important;
  }

  &--big {
    font-size: $big-font-size !important;
  }

  &--primary {
    color: $primary-color !important;
  }

  &--white {
    color: $white !important;
  }

  &--gray {
    color: $color-gray !important;
  }

  &--dark {
    color: $color-dark !important;
  }

  &--uppercase {
    text-transform: uppercase !important;
  }

  &--normal {
    font-weight: 400 !important;
  }

  &--middle {
    font-weight: 500 !important;
  }

  &--bold {
    font-weight: 700 !important;
  }
}
