.title {
  font-weight: 300;

  &--white {
    color: $white;
  }

  &--dark {
    color: $color-dark;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--main {
    line-height: 38px;
    font-size: $heading-main-font-size;
  }

  &--second {
    line-height: 28px;
    font-size: $heading-second-font-size;
  }

  &--normal {
    font-weight: 400;
  }

  &--middle {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }
}
