.top-image-bg {
  border-top-right-radius: $mid-radius;
  border-top-left-radius: $mid-radius;
  vertical-align: middle;
  
  &__title {
    margin-bottom: 0;
  }
  
  th.columns {
    padding-bottom: 0;
  }
}