.top-image {
  border-top-right-radius: $mid-radius;
  border-top-left-radius: $mid-radius;

  &__img {
    width: 100%;
    height: auto;
    border-top-right-radius: $mid-radius;
    border-top-left-radius: $mid-radius;
  }

  &__logos-wrapper {
    padding-bottom: 0 !important;

    th {
      text-align: center !important;
    }
  }

  &__logo {
    display: inline-block;

    &--center {
      margin: 0 15px;
      margin-bottom: 16px;
    }
  }
}
