.travel-info {
  &__time {
    padding-left: 18px;
    margin-bottom: 0 !important;
    line-height: 16px;

    &--last {
      margin-top: 16px !important;
    }

    &--last2 {
      margin-top: 28px !important;
    }
  }

  &__address {
    padding-left: 18px;
    margin-bottom: 0 !important;
    line-height: 14px;
  }

  &__travel-line {
    margin-right: 6px;
  }

  &__map {
    height: auto;
  }

  &__btn-center {
    margin-left: auto;
    margin-right: auto;
  }
}
