---
subject: Arkana
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="../assets/img/top-image3.jpg" width="600" height="259" alt="">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Предложения дилера по Renault Arkana</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">Мы собрали для вас все автомобили %Renault % Arkana в наличии в дилерских центрах.</p>
              <p class="text">Вы выбираете модель и смотрите наличие у дилера, вносите предоплату на сайте и ждете звонка специалиста Renault. По каждому из них вы сможете запросить коммерческое предложение с скидками за Trade-In, КАСКО и кредит. Это тоже самое, как сесть за стол к менеджеру и получить предложение на бумаге, но немного быстрее и удобнее.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Открыть Онлайн-шоурум</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <spacer size="16"></spacer>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper card">
    <spacer size="20"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <th class="small-12 large-5 columns first" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>

                <th class="small-12 large-7 columns last" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <p class="text card__text">Кстати, если после нашего тест-драйва, вы купите этот автомобиль, не забудьте получить в подарок топливную карту на %литров, загрузив чек в приложение.</p>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="4"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
