---
subject: Avtomobili v nalichii
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="../assets/img/top-image.jpg" width="600" height="259" alt="">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <h2 class="title">Предложения дилеров по Porsche Macan</h2>

            <spacer size="26"></spacer>

            <p class="text text--bold">Добрый день, %Username!</p>
            <p class="text">Мы собрали для вас все автомобили %Porsche %Macan в наличии в дилерских центрах.</p>
            <p class="text">По каждому из них вы сможете запросить коммерческое предложение с скидками за Trade-In, КАСКО и кредит. Это тоже самое, как сесть за стол к менеджеру и получить предложение на бумаге, но немного быстрее и удобнее.</p>
            <p class="text">Можете не беспокоиться, мы не будем передавать ваши данные дилеру, предложение вы получите в приложении CARL, без телефонных звонков.</p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </wrapper>

  <wrapper class="auto-available-wrapper content-wrapper">
    <wrapper class="auto-available">
      <spacer size="11"></spacer>
      <row>
        <th class="columns first last pb0">
          <table>
            <tr>
              <th>
                <row>
                  <columns class="auto-available__col" small="6" large="7" valign="middle">
                    <h4 class="title title--bold auto-available__text">Porsche Ленинградский</h4>
                    <p class="text text--tiny auto-available__text">Москва г., Ленинградское ш., стр. 1, вл. 14</p>
                  </columns>

                  <columns class="auto-available__col" small="6" large="5" valign="middle">
                    <row>
                      <columns class="auto-available__col" valign="middle">
                        <p class="text text--small text--middle text--primary text-right auto-available__text auto-available__text--nowrap">
                          автомобилей
                          <span class="auto-available__badge text text--white">
                            <span style="display: inline-block; margin-top: 5px">6</span>
                          </span>
                        </p>
                      </columns>
                    </row>
                  </columns>
                </row>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
      <spacer size="11"></spacer>
    </wrapper>
  </wrapper>

  <spacer size="25"></spacer>

  <wrapper class="auto-available-wrapper content-wrapper">
    <wrapper class="auto-available content-wrapper">
      <spacer size="11"></spacer>
      <row>
        <th class="columns first last pb0">
          <table>
            <tr>
              <th>
                <row>
                  <columns class="auto-available__col" small="6" large="7" valign="middle">
                    <h4 class="title title--bold auto-available__text">Porsche Таганка</h4>
                    <p class="text text--tiny auto-available__text">Москва г., Ленинградское ш., стр. 1, вл. 14</p>
                  </columns>

                  <columns class="auto-available__col" small="6" large="5" valign="middle">
                    <row>
                      <columns class="auto-available__col" valign="middle">
                        <p class="text text--small text--normal text--primary text-right auto-available__text auto-available__text--nowrap">
                          автомобилей
                          <span class="auto-available__badge text text--white">
                            <span style="display: inline-block; margin-top: 5px">3</span>
                          </span>
                        </p>
                      </columns>
                    </row>
                  </columns>
                </row>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
      <spacer size="11"></spacer>
    </wrapper>
  </wrapper>

  <spacer size="30"></spacer>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper card">
    <spacer size="20"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <th class="small-12 large-5 columns first" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>

                <th class="small-12 large-7 columns last" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <p class="text card__text">Кстати, если после нашего тест-драйва, вы купите этот автомобиль, не забудьте получить в подарок топливную карту на %литров, загрузив чек в приложение.</p>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="4"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
