---
subject: CARL Welcome
---

{{> header }}

<container class="main">
  <table>
    <tr>
      <td class="top-image-bg" background="../assets/img/welcome-bg.jpg" bgcolor="#009fe8" width="600" height="221">
        <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:221px;"><v:fill type="frame" src="../assets/img/welcome-bg.jpg" color="#009fe8" /><v:textbox inset="0,0,0,0"><div><![endif]-->
        <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
      </td>
    </tr>
  </table>

  <spacer size="30"></spacer>

  <wrapper class="content-wrapper">
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <h2 class="title text-center">Добро пожаловать в CARL!</h2>

            <p class="text text--bold">Привет, %Username!</p>
            <p class="text">Мы рады, что вы присоеденились к нам! Давайте знакомиться.</p>
            <p class="text">CARL — это сервис тест-драйвов. Мы является официальным представителем автомобильных компаний и наша задача — создать для вас <b>лучший опыт выбора и покупки нового автомобиля</b>.</p>
            <p class="text">Мы создадим вам комфортные условия для тест-драйва по удобному маршруту, позаботимся о конфиденциальности ваших данных, а так же соберем лучшие предложения от дилеров.</p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </wrapper>

  <table class="row">
    <tbody class="grid">
      <tr>
        <td class="grid__bg" background="../assets/img/bg.jpg" bgcolor="#ffffff" width="600" height="484">
          <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:484px;"><v:fill type="frame" src="../assets/img/bg.jpg" color="#ffffff" /><v:textbox inset="0,0,0,0"><div><![endif]-->
          <row>
            <th class="columns first last">
              <table>
                <tr>
                  <th>
                    <wrapper>
                      <table class="row">
                        <tbody>
                          <tr>
                            <th class="small-12 large-6 columns first pb0" valign="middle">
                              <table>
                                <tr>
                                  <th>
                                    <img class="grid__img float-center" src="../assets/img/phone0.png" width="281" height="500" alt="">
                                  </th>
                                </tr>
                              </table>
                            </th>

                            <th class="small-12 large-5 columns last" valign="middle">
                              <table>
                                <tr>
                                  <th>
                                    <h2 class="title text--white">Забронируйте тест-драйв через приложение:</h2>
                                    <p class="text text--white grid__bg-sizer">Выбирайте автомобиль, удобное время, а так же место тест-драйва, об остальном мы позаботимся.</p>
                                  </th>
                                </tr>
                              </table>
                            </th>

                            <th class="expander"></th>
                          </tr>
                        </tbody>
                      </table>
                    </wrapper>
                  </th>
                </tr>
              </table>
            </th>
            <th class="expander"></th>
          </row>
          <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
        </td>
      </tr>
    </tbody>
  </table>

  <wrapper class="content-wrapper content-wrapper--big">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed grid" dir="rtl">
                <columns small="12" large="6" valign="middle">
                  <img class="grid__img float-center" src="../assets/img/phone.jpg" width="280" height="398" alt="">
                </columns>

                <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                <columns small="12" large="6" dir="ltr" valign="middle">
                  <h2 class="title">Выбирайте из лучших предложений от дилеров</h2>
                  <p class="text">После тест-драйва, все подключенные к системе дилеры пришлют вам персональные предложения с конкретными автомобилями прямо в приложение. Останется только выбрать подходящий вариант.</p>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper content-wrapper--big">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed grid">
                <columns small="12" large="6" valign="middle">
                  <img class="grid__img float-center" src="../assets/img/phone3.jpg" width="280" height="398" alt="">
                </columns>

                <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                <columns small="12" large="6" valign="middle">
                  <h2 class="title">Получите бонусы при покупке автомобиля</h2>
                  <p class="text">Если после нашего тест-драйва вам понравился автомобиль и вы его купили, мы вернем вам деньги за тест-драйв (если он был платным) и пришлем в подарок топливную карту <b>CARL x Лукойл</b>, чтобы обеспичить вас бензином на первое время ;)</p>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper content-wrapper--big">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed grid" dir="rtl">
                <columns small="12" large="6" valign="middle">
                  <img class="grid__img float-center" src="../assets/img/phone4.jpg" width="280" height="398" alt="">
                </columns>

                <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                <columns small="12" large="6" dir="ltr" valign="middle">
                  <h2 class="title">Добавь свой текущий автомобиль и подайте заявку на получение VIP статуса.</h2>
                  <p class="text">Расскажите нам немного о себе, что бы мы с автомобильными брендами могли доверить вам премиальные автомобили и порадовать вас приятными привелегиями.</p>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper content-wrapper--big">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed grid">
                <columns small="12" large="6" valign="middle">
                  <img class="grid__img float-center" src="../assets/img/phone2.jpg" width="280" height="398" alt="">
                </columns>

                <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                <columns small="12" large="6" valign="middle">
                  <h2 class="title">Поделитесь отзывом об автомобиле с друзьями</h2>
                  <p class="text">Подключив аккаунт facebook, вы узнаете какие автомобили уже тестировали ваши друзья, и что они о них думают.</p>
                  <p class="text">Свой отзыв вы сможете опубликовать сразу же после прохождения тест-драйва.</p>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="40"></spacer>

  {{> stores }}

  <spacer size="46"></spacer>

  {{> footer }}
</container>

{{> copyright }}
