---
subject: Brand Model в наличии у дилеров
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="../assets/img/top-image.jpg" width="600" height="259" alt="">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <h2 class="title">Найдите свой %Brand %Model</h2>

            <spacer size="26"></spacer>

            <p class="text text--bold">Добрый день, %Username!</p>
            <p class="text">Мы заметили, что вы интересовались %Porsche %Macan в нашем приложении. На тест-драйв его пока нет, но есть список автомобилей в наличии у Х дилеров</p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </wrapper>

  <wrapper class="auto-available-wrapper content-wrapper">
    <wrapper class="auto-available">
      <spacer size="11"></spacer>
      <row>
        <th class="columns first last pb0">
          <table>
            <tr>
              <th>
                <row>
                  <columns class="auto-available__col" small="6" large="7" valign="middle">
                    <h4 class="title title--bold auto-available__text">Porsche Ленинградский</h4>
                  </columns>

                  <columns class="auto-available__col" small="6" large="5" valign="middle">
                    <row>
                      <columns class="auto-available__col" valign="middle">
                        <p class="text text--small text--middle text--primary text-right auto-available__text auto-available__text--nowrap">
                          автомобилей
                          <span class="auto-available__badge text text--white">
                            <span style="display: inline-block; margin-top: 5px">6</span>
                          </span>
                        </p>
                      </columns>
                    </row>
                  </columns>
                </row>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
      <spacer size="11"></spacer>
    </wrapper>
  </wrapper>
  <spacer size="25"></spacer>

  <wrapper class="content-wrapper">
    <center>
      <button href="#">Открыть в приложении</button>
    </center>
  </wrapper>
  <spacer size="24"></spacer>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper card">
    <spacer size="20"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns class="pb0">
                  <h2 class="title   small-text-center">Бонусы при покупке:</h2>
                </columns>
              </row>

              <row class="table-layout-fixed" dir="rtl">
                <th class="small-12 large-5 columns first" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>

                <th class="small-12 large-7 columns last" valign="middle" dir="ltr">
                  <table>
                    <tr>
                      <th>
                        <p class="text card__text">Кстати, если вы купите этот автомобиль, мы подарим вам топливную карту на X-литров в обмен на загрузуку документа с подтверждением.</p>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="4"></spacer>
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
