---
subject: Digest
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="https://cdn.carl-drive.ru/images/digest-top-image-08.30-min.jpg" width="600" height="289" alt="cars-image">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 32px; font-weight: 700; color: #1D252F;">⚡ 49 секунд и ∞ пользы</h2>
              <h3 style="Margin-bottom: 26px; margin-bottom: 26px; font-size: 20px; font-weight: 500; color: #1D252F;">У вас мало времени, мы в вас это ценим</h3>
              <p class="text text--bold" style="color: #1D252F;">Привет! Просто держим вас в курсе.</p>
              <p class="text" style="color: #1D252F;">В CARL уже больше 25 автомобилей: седаны, внедорожники, хэтчбеки, минивены и кроссоверы. Все, что вы видите в приложении, есть в наличии у дилеров.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <center>
                <img style="max-width: 468px; height: auto;" src="https://cdn.carl-drive.ru/images/carl-car-image-08-30-min.jpg" width="483" height="200" alt="car-image">
              </center>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>

    <spacer size="14"></spacer>

    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Смело выбирайте и записывайтесь на тест-драйв</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="30"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 20px; font-weight: 700; color: #1D252F;">Зацените новое приложение</h2>
              <p class="text" style="Margin-bottom: 14px; margin-bottom: 14px; font-weight: 500; color: #1D252F;">Задизайнили его с нуля и наполнили новыми функциями</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">🛰 Поиск по названиям брендов: с новым лого KIA без этого никак.</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">⚖️ Предварительная оценка вашего авто по трейд-ин от CarPrice.</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">📝 ОСАГО и КАСКО от нескольких страховых прямо в приложения.</p>
              <p class="text" style="Margin-bottom: 8px; margin-bottom: 8px; color: #1D252F;">💰 Кредит и лизинг тоже сразу в CARL, никуда переходить не нужно.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <center>
                <img style="max-width: 468px; height: auto;" src="https://cdn.carl-drive.ru/images/phone-image-08.30-min.jpg" width="483" height="271" alt="phone-image">
              </center>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>

    <spacer size="14"></spacer>

    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Скачать приложение</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="30"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 20px; font-weight: 700; color: #1D252F;">За слова отвечаем</h2>
              <p class="text" style="Margin-bottom: 0; margin-bottom: 0; font-weight: 500; color: #1D252F;">Но никто не расскажет о нас лучше, чем довольные пользователи.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="auto-available-wrapper auto-available-wrapper--digest-left content-wrapper">
    <wrapper class="auto-available" style="background-color: #f5f5f5;">
      <row>
        <th class="columns first last" style="position: relative;">
          <span style="display: inline-block; border: 16px solid transparent; border-top-color: #f5f5f5; position:absolute; top: 0; left: -16px"></span>
          <table>
            <tr>
              <th>
                <spacer size="16"></spacer>
                <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; font-weight: 700; color: #009FE8;">Михаил, Audi E-tron</p>
                <p class="text" style="Margin-bottom: 0; margin-bottom: 0; color: #1D252F;">«Ну мне надоела моя ласточка. Кореш посоветовал CARL попробовать. Я и попробовал. Погонял по тест-драйвам. Надумал e-tron брать. Тачка чисто секс, ещё и парковка с зарядкой по Москве бесплатные. Ну и дальше чисто шок — купил машину через Apple Pay. Миль нормально привалило!»</p>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
    </wrapper>
  </wrapper>

  <spacer size="24"></spacer>

  <wrapper class="auto-available-wrapper auto-available-wrapper--digest-right content-wrapper">
    <wrapper class="auto-available" style="background-color: #f5f5f5;">
      <row>
        <th class="columns first last" style="position: relative;">
          <span style="display: inline-block; border: 16px solid transparent; border-top-color: #f5f5f5; position:absolute; top: 0; right: -16px"></span>
          <table>
            <tr>
              <th>
                <spacer size="16"></spacer>
                <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; font-weight: 700; color: #009FE8;">Ольга, BMW X1</p>
                <p class="text" style="Margin-bottom: 0; margin-bottom: 0; color: #1D252F;">Погонял по тест-драйвам. Надумала беху брать.  Ну и дальше чисто шок — купил машину через Apple Pay. Миль нормально привалило!»</p>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
    </wrapper>
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
