---
layout: index-layout
subject: Carl Email Templates
---

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>

  <row>
    <columns small="12">
      <h1 class="text-center">CARL Emails</h1>

      <spacer size="16"></spacer>

      <center>
        <menu class="vertical">
          <item href="{{root}}storybook.html" target="_blank">Storybook</item>
          <item href="{{root}}carl-welcome.html" target="_blank">CARL Welcome</item>
          <item href="{{root}}password-recovery.html" target="_blank">Password recovery</item>
          <item href="{{root}}podtverzdenie-email.html" target="_blank">Podtverzdenie e-mail</item>
          <item href="{{root}}test-drive-booking.html" target="_blank">Test drive booking</item>
          <item href="{{root}}test-drive-ended.html" target="_blank">Test drive ended</item>
          <item href="{{root}}avtomobili-v-nalichii.html" target="_blank">Avtomobili v nalichii</item>
          <item href="{{root}}arkana.html" target="_blank">Arkana</item>
          <item href="{{root}}otvet-na-kp.html" target="_blank">Otvet na kp</item>
          <item href="{{root}}zapros-na-call-back.html" target="_blank">Zapros na call back</item>
          <item href="{{root}}uvedomlenie-dileru-na-kp.html" target="_blank">Uvedomlenie dileru na kp</item>
          <item href="{{root}}zapros-na-predoplatu.html" target="_blank">Zapros na predoplatu</item>
          <item href="{{root}}zapros-komercheskovo-predlozenia.html" target="_blank">Zapros komercheskovo predlozenia (Эмарсис)</item>
          <item href="{{root}}new-brand.html" target="_blank">New brand</item>
          <item href="{{root}}new-car.html" target="_blank">New car</item>
          <item href="{{root}}toplivnaya-karta.html" target="_blank">Toplivnaya karta (Эмарсис)</item>
          <item href="{{root}}podrobnee-ob-avtomobile.html" target="_blank">Podrobnee ob avtomobile (Эмарсис)</item>
          <item href="{{root}}podrobnee-ob-avtomobile2.html" target="_blank">Podrobnee ob avtomobile2 (Эмарсис)</item>
          <item href="{{root}}kakie-avtomobili-dostupni.html" target="_blank">Kakie avtomobili dostupni (Эмарсис)</item>
          <item href="{{root}}premialnie-avtomobili.html" target="_blank">Premialnie avtomobili (Эмарсис)</item>
          <item href="{{root}}lexus-ux-250h.html" target="_blank">lexus-ux-250h (Эмарсис)</item>
          <item href="{{root}}lexus-es-250.html" target="_blank">lexus-es-250 (Эмарсис)</item>
          <item href="{{root}}dealers-stock-emarsys.html" target="_blank">%Brand %Model в наличии у дилеров (Эмарсис)</item>
          <item href="{{root}}digest.html" target="_blank">Digest (Эмарсис)</item>
          <item href="{{root}}subscribe.html" target="_blank">Подписка (Эмарсис)</item>
          <item href="{{root}}long-drive.html" target="_blank">Лонг-драйв (Эмарсис)</item>
          <item href="{{root}}new-audi.html" target="_blank"> Новые Audi (Эмарсис)</item>
        </menu>
      </center>

      <spacer size="16"></spacer>
    </columns>
  </row>
</container>

<spacer size="16"></spacer>
