---
subject: Kakie avtomobili dostupni
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Пора выбирать ваш новый автомобиль!</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">На данный момент у нас доступны для тест-драйва следующие автомобили, также по другим моделям доступны дилерские стоки. Давайте начнем выбирать:</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper cars">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed">
                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/panamera.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche Panamera</p>
                </columns>

                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/cayman.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche - 917 Boxter</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/911.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche - 911</p>
                </columns>

                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/maccan.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche - Maccan</p>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="32"></spacer>
  </wrapper>

  <spacer size="16"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
