---
subject: Lexus-es-250
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="{{root}}/assets/img/lexus-header2.jpeg" width="600" height="259" alt="">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Давайте знакомиться - Lexus ES 250</h2>

              <spacer size="26"></spacer>

              <p class="text">Шесть поколений Lexus ES добились значительного успеха в сегменте бизнес-седанов. Седьмое поколение модели имеет еще более амбициозные задачи. Модель ES давно завоевала высокие оценки за комфорт, утонченность и роскошь. Новое поколение не только развивает все эти качества, но и имеет абсолютно новую платформу, которая позволила создать более динамичный и смелый дизайн кузова и добиться захватывающего управления автомобилем.</p>
              <p class="text">Конечно, ощутить все это можно только оказавшись за рулем, и не на пять мнут. С CARL вы можете провести за рулем Lexus ES 250 целый час, проехавшись по любому маршруту во всех режимах движения. За это время обязательно обратите внимание на следующие особенности автомобиля:</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Рассказать друзьям</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper promo">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <h2 class="title small-text-center">Отзывы пользователей:</h2>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <img src="../assets/img/instagram-big.png" class="float-center" width="51" height="51" style="height: 51px;" alt="">
              <spacer size="8"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text text-center promo__text">Смотрите отзывы других или оставьте свой в Instagram:</p>
              <p class="text-center promo__text"><a href="#" class="text text--primary text--bold" target="_blank">#carl_BMW_3_GT</a></p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper card">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns class="pb0">
                  <h2 class="title small-text-center">Бонусы при покупке:</h2>
                </columns>
              </row>

              <row>
                <columns class="pb0">
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="5" valign="middle">
                      <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                    </columns>

                    <columns small="12" large="7" valign="middle" dir="ltr">
                      <p class="text card__text">Кстати, если вы купите этот автомобиль, мы подарим вам топливную карту на X-литров в обмен на загрузуку документа с подтверждением.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="4"></spacer>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="32"></spacer>

  <wrapper class="content-wrapper grid">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/1image_preview.jpeg" align="left" width="240" height="140" alt="">
                <p class="text">Полный вперед. Новый 2,5 литровый 4-цилиндровый двигатель с непосредственным впрыском топлива и системой регулировки фаз газораспределения впускных клапанов VVT-iE и выпускных клапанов VVT-i. В результате - 200 лошадиных сил и отличная динамика.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/2image_preview.jpeg" align="left" width="240" height="140" alt="">
                <p class="text">Обязательно окажитесь на заднем сиденье. и оцените  простор для всех пассажиров, особенно на заднем ряду. Расстояние между рядами увеличилось до 1025 мм, что обеспечивает больший комфорт. Обратите внимание на  высочайший уровень тишины, контроль звуков и шумов.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/3image_preview.jpeg" align="left" width="240" height="140" alt="">
                <p class="text">Сделайте погромче. Lexus ES дебютирует с принципиально новой аудиосистемой Mark Levinson® PurePlay, разработанной чтобы погрузить водителя и пассажиров в атмосферу мощного, чистого и четкого звука. В PurePlay используется множество технологических решений для обеспечения отличного качества воспроизведения. Семь динамиков в салоне расположены на уровне плеча, улучшая акустику и создавая эффект синергии. В передние дверцы встроены два сабвуфера овальной формы, а самый большой из существующих на сегодня сабвуферов диаметром 265 мм располагается в нижней части задней двери. Общее число динамиков — 17.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/4image_preview.jpeg" align="left" width="240" height="140" alt="">
                <p class="text">Потрогайте кожу. Обратите внимание на отделку и внимание к деталям. Безупречные материалы отделки салона Lexus ES позволяют даже не специалисту сразу и в полной мере ощутить невероятное качество этого седана бизнес-класса. Обшитые инновационной кожей Tahara или комбинированной натуральной кожей сиденья впечатляют совершенством фактуры и идеальной точностью прострочки. Эксклюзивные алюминиевые вставки с круговой полировкой выполняются с использованием техники "хадори", которая позаимствована у легендарных создателей традиционных японских мечей.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/5image_preview.jpeg" align="left" width="240" height="140" alt="">
                <p class="text">ES 250 - он разный. Селектор выбора режима движения размещен рядом с козырьком инструментального кластера приборной панели, чтобы Вы не отвлекались от дороги и не меняли положение тела при вождении. В качестве стандартных опций доступны режимы движения Eco, Normal и Sport. Обратите ка меняется поведение автомобили и выберите самый подходящий для вас.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/6image_preview.jpeg" align="left" width="240" height="140" alt="">
                <p class="text">Вы в полной безопасности. Новый Lexus ES оборудован комплексом передовых систем активной безопасности Lexus Safety System+. Этот комплекс включает систему распознавания дорожных знаков, систему контроля усталости водителя, систему помощи при смене полосы движения, адаптивный круиз-контроль, систему предупреждения столкновения с функцией автоматического торможения, систему определения пешеходов и велосипедистов, систему автоматического переключения дальнего света на ближний с затемнением зоны ослепления встречного автомобиля.</p>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="32"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text">Помните, что c CARL вы можете не только познакомиться с автомобилем, но и посмотреть наличие машин у подключенных дилеров, и даже узнать финальную цену со всеми скидками без звонков и поездок.</p>
              <p class="text">А если после тест-драйва вы купите автомобиль где бы то ни было - отправьте нам через приложение чек или любой другой документ подтверждающий покупку, и мы пришлем вам карту ЛУКойл с приличным количеством топлива на счету. Для Lexus ES 250 это, например,  будет 150 литров. До встречи на дорогах!</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Рассказать друзьям</button>
                  </center>

                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
