---
subject: Lexus-ux-250h
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="{{root}}/assets/img/lexus-header.jpg" width="600" height="259" alt="">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Революционный самозаряжающийся гибрид от Lexus</h2>

              <spacer size="26"></spacer>

              <p class="text">Модель Lexus UX 250h оснащена гибридным приводом Lexus Hybrid Drive последнего, четвертого, поколения, который включает четырех цилиндровый бензиновый двигатель объемом 2,0 литра, мощный электромотор и новую гибридную трансмиссию. По показателям КПД и выходной мощности бензиновый двигатель задает новые стандарты в отрасли. Инженеры уделили пристальеное внимание не только экономии топлива, но и ходовым качествам модели.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row class="brand-model">
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed grid">
                <columns small="12" large="6" valign="middle">
                  <img class="brand-model__img" src="{{root}}/assets/img/lexus-main.jpg" width="226" height="135" alt="">
                </columns>

                <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                <columns small="12" large="6">
                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Двигатель
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">178 л.с.</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Топливо
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">Бензин</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Расход топлива
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">4,6 на 100 км.</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Разгон
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">8,5 c.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>

    <spacer size="16"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Рассказать друзьям</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <p class="text">С CARL вы можете оказаться за рулем Lexus UX 250h и провести с ним целый час, проехавшись по любому маршруту. За это время обязательно обратите внимание на следующие особенности автомобиля с гибридной системой:</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Запуск двигателя и начало движени</h2>
              <p class="text">При трогании с места и на низкой скорости движения мощный передний и дополнительный задний электромоторы плавно разгоняют Lexus UX 250, используя энергию, вырабатываемую гибридной аккумуляторной батареей. В этот момент ваш Lexus не расходует топливо и движется с нулевым уровнем выбросов.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Обычные условия движения</h2>
              <p class="text">На высоких скоростях почти незаметно включается работающий по циклу Аткинсона бензиновый двигатель, которому в случае необходимости помогают электродвигатели. Благодаря оптимальному сочетанию работы бензинового и электрического источников энергии гибридный Lexus UX 250h демонстрирует превосходные ходовые качества при низком уровне выброса вредных веществ и потребления топлива.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Максимальное ускорение</h2>
              <p class="text">При сильном нажатии на педаль акселератора 2,0-литровому бензиновому двигателю мгновенно приходят на помощь электродвигатели. В результате их совместной работы развивается внушительный крутящий момент и обеспечивается высокое ускорение именно тогда, когда это необходимо.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Замедление, остановка, торможение</h2>
              <p class="text">При замедлении или остановке автомобиля бензиновый двигатель выключается, что сводит выбросы вредных веществ к нулю. При торможении или отпускании педали газа включается система рекуперативного торможения, преобразующая кинетическую энергию в электричество, которое заряжает высоковольтную батарею. Помимо энергии, генерируемой в обычных условиях движения, происходит накопление электрической энергии внутри гибридного аккумулятора. Благодаря этому самозаряжающийся гибрид от Lexus не нуждается в подключении к сети.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper promo">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <h2 class="title small-text-center">Отзывы пользователей:</h2>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <img src="../assets/img/instagram-big.png" class="float-center" width="51" height="51" style="height: 51px;" alt="">
              <spacer size="8"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text text-center promo__text">Смотрите отзывы других или оставьте свой в Instagram:</p>
              <p class="text-center promo__text"><a href="#" class="text text--primary text--bold" target="_blank">#carl_BMW_3_GT</a></p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper card">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns class="pb0">
                  <h2 class="title small-text-center">Бонусы при покупке:</h2>
                </columns>
              </row>

              <row>
                <columns class="pb0">
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="5" valign="middle">
                      <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                    </columns>

                    <columns small="12" large="7" valign="middle" dir="ltr">
                      <p class="text card__text">Кстати, если вы купите этот автомобиль, мы подарим вам топливную карту на X-литров в обмен на загрузуку документа с подтверждением.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="4"></spacer>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="32"></spacer>

  <wrapper class="content-wrapper grid">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">Cистема E-four</p>
                </columns>
              </row>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/lexus-e-four.jpg" align="left" width="240" height="140" alt="">
                <p class="text">Уже опробованная на моделях RX 450h и NX 300h система E-FOUR отвечает за работу полного привода Lexus UX 250h: на зад- ней оси автомобиля установлен дополнительный электромотор. Подключение заднего электромотора при разгоне, прохождении поворотов или при движении по скользкой поверхности выполняется автоматически.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">Новая платформа GA-C</p>
                </columns>
              </row>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/lexus-platform.jpg" align="left" width="240" height="140" alt="">
                <p class="text">Потрясающая динамика Lexus UX объясняется высокой жесткостью его новой ультралегкой платформы. Наши разработчики сумели увеличить общую прочность конструкции, особенно в важнейших местах — в районе задних дверей и двери багажного отделения. В ключевых точках использовались новейшие клеящие вещества и точечная лазерная сварка, что заметно повысило общую жесткость кузова.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">Инновационная аэродинамика</p>
                </columns>
              </row>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/lexus-airdynamica.jpg" align="left" width="240" height="140" alt="">
                <p class="text">Автомобиль испытывался в аэродинамической трубе Lexus, одной из самых современных конструкций этого типа. Разработчики Lexus UX применили принципиально новый подход для достижения максимально высоких аэродинамических показателей. В числе ключевых решений: форма задних фонарей, улучшающая общую устойчивость; рельефные молдинги колесных арок, уменьшающие крен кузова и улучшающие устойчивость; колеса, аэродинамические свойства которых были позаимствованы из автоспорта, что позволило обеспечить охлаждение тормозных механизмов и снизить сопротивление воздуха.</p>
              </row>

              <spacer size="16"></spacer>

              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">Регулируемая адаптивная подвеска</p>
                </columns>
              </row>

              <row>
                <img class="grid__float-left" src="{{root}}/assets/img/lexus-susp.jpg" align="left" width="240" height="140" alt="">
                <p class="text">Модель Lexus UX оснащена специально настроенной подвеской с доработанными пружинами и стабилизаторами, а также эффективными амортизаторами. Кроме того, для автомобиля предлагается разработанная специально для него адаптивная подвеска с быстрым откликом, устанавливаемая на купе Lexus LC.</p>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
