---
subject: В CARL появился лонг-драйв 🎉
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="https://cdn.carl-drive.ru/images/12.29.2021-e-tron.gif" width="480" height="253" alt="e-tron">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper" style="max-width: 540px">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 32px; font-weight: 700; color: #1D252F;">В CARL появился лонг-драйв 🎉</h2>
              <h3 style="Margin-bottom: 0px; margin-bottom: 0px; font-size: 16px; font-weight: 500; color: #1D252F;">Чтобы познакомиться с машиной для серьёзных отношений 😏</h3>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="24"></spacer>

  <wrapper class="content-wrapper" style="max-width: 540px">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #1D252F;">Как тест-драйв, только на сутки, неделю или месяц</h2>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">Вы уже знаете, что тест-драйв от CARL не похож на скучный пробный заезд на парковке дилерского центра. Это часовое свидание с автомобилем. Но часто и его мало. Поэтому мы сделали лонг-драйвы. Как вы и просили!</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="10"></spacer>

  <wrapper class="content-wrapper" style="max-width: 540px">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #1D252F;">Зачем нужен лонг-драйв?</h2>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; font-weight: 500; color: #1D252F;">Проверить автомобиль в реальных условиях:</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">✅ Прокатиться на полной скорости по платной трассе</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">✅ Насладиться массажными креслами в пробке</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">✅ Съездить на природу по бездорожью</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">✅ Припарковаться в тесном дворе</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">✅ ️Похвастаться перед друзьями (куда без этого)</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="10"></spacer>

  <wrapper class="content-wrapper" style="max-width: 540px">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #1D252F;">Как проходит лонг-драйв?</h2>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; font-weight: 500; color: #1D252F;">Легко и приятно:</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">🚘 Выберите машину в приложении</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">⏱ Укажите, на сколько вы бы хотели её взять</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">📍 Консультант привезёт авто куда удобно в пределах МКАД</p>
              <p class="text" style="Margin-bottom: 8px; margin-bottom: 8px; color: #1D252F;">💬 Он расскажет о машине всё как есть, отдаст ключи и уедет</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">🌅 Авто в вашем распоряжении — можно ехать куда захотите</p>
              <p class="text" style="Margin-bottom: 4px; margin-bottom: 4px; color: #1D252F;">🎢 Все машины застрахованы, но штрафы (ну вдруг) — на вас</p>
              <p class="text" style="Margin-bottom: 8px; margin-bottom: 8px; color: #1D252F;">💎 За бензин платите вы, так что ограничений по расстоянию нет</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="30"></spacer>

  <table class="wrapper" align="center" style="border-collapse:collapse;border-spacing:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;width:100%">
    <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
      <td class="wrapper-inner" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
        <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;position:relative;text-align:left;vertical-align:top;width:100%">
          <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
            <th class="columns first last pb0" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0 auto;border-collapse:collapse!important;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0 auto;padding-bottom:0!important;padding-left:16px;padding-right:16px;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
              <table style="border-collapse:collapse;border-spacing:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;width:100%">
                <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                  <th style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;position:relative;text-align:left;vertical-align:top;width:100%">
                      <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                        <th class="small-12 large-12 columns first last" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0 auto;border-collapse:collapse!important;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0 auto;padding-bottom:16px;padding-left:0!important;padding-right:0!important;padding-top:0;text-align:left;vertical-align:top;width:100%;word-wrap:break-word">
                          <table style="border-collapse:collapse;border-spacing:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                              <th style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                <center style="min-width:none!important;width:100%">
                                  <table class="button float-center" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 0 16px 0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:center;vertical-align:top;width:auto">
                                    <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#009fe8;border:0 solid transparent!important;border-collapse:collapse!important;border-radius:50px;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                        <table style="border-collapse:collapse;border-spacing:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;width:100%">
                                          <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                                            <div style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size: 100%; margin: 0; padding: 0; margin-top: 0">
                                              <!--[if mso]>
                                                <v:roundrect href="https://carl.onelink.me/57aG/email" ems:notrack="true" style="width:200px; height:40px; v-text-anchor:middle;" arcsize="50%" stroke="f" fillcolor="#009fe8" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word">
                                                <w:anchorlock/>
                                                <v:textbox inset="0,0,0,0">
                                                <center>
                                              <![endif]-->
                                              <a href="#" style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size:11px; font-weight:400; margin: 0; padding: 0 24px; margin-top: 0; color: #ffffff; line-height: 40px; background-color: #009fe8; border-radius: 20px; display: inline-block; text-align: center; text-decoration: none; white-space: nowrap; -webkit-text-size-adjust: none">Выбрать авто на лонг-драйв</a>
                                              <!--[if mso]>
                                                </center>
                                                </v:textbox>
                                                </v:roundrect>
                                              <![endif]-->
                                            </div>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </center>
                              </th>

                              <th class="expander" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding:0!important;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;visibility:hidden;width:0;word-wrap:break-word"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </table>
            </th>

            <th class="expander"style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding:0!important;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;visibility:hidden;width:0;word-wrap:break-word"></th>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
