---
subject: У нас новые Audi &#128163;
---

{{> header }}

<container class="main">
  <center class="top-image">
    <img class="top-image__img" src="https://cdn.carl-drive.ru/images/audi-new-22.png" width="480" height="253" alt="e-tron">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper" style="max-width: 540px">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 32px; font-weight: 700; color: #1D252F;">У нас новые Audi &#128163;</h2>
              <h3 style="Margin-bottom: 16px; margin-bottom: 16px; font-size: 20px; font-weight: 500; color: #1D252F;">C крутыми описаниями, чтобы выбрать было проще</h3>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text" style="font-size: 16px; font-weight: 500; color: #1D252F;">Автомобили из этого письма могут приехать прямо к вашему дому. Потому что тест-драйвы от CARL проходят там, где удобно вам, а не дилеру.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <columns>
        <row class="table-layout-fixed grid">
          <columns small="12" large="6" style="vertical-align: middle;">
            <img class="grid__img small-float-center float-left" src="https://cdn.carl-drive.ru/images/audi-a6-22.png" width="240" height="140" alt="">
          </columns>

          <columns class="grid__col-padding" small="12" style="width: 0px;"></columns>

          <columns small="12" large="6">
            <h2 class="title" style="Margin-bottom: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #1D252F;">Audi A6</h2>
            <ul style="Margin: 5px 0 16px 0; margin: 5px 0 16px 0; padding: 0 0 0 15px;">
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Как смартфон, только смарткар</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Не только автомобиль, но и собеседник</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">На зависть Бонду: радары, камеры и ультразвуковые датчики</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Самая тёмная ночь перед тем, как вы включите фары</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Гарантия на 4 года, вместо обычных 2-х</li>
            </ul>

            <table class="button float-center" style="Margin:0 auto 16px auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto 16px auto;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:center;vertical-align:top;width:auto">
              <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#009fe8;border:0 solid transparent!important;border-collapse:collapse!important;border-radius:50px;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table style="border-collapse:collapse;border-spacing:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;width:100%">
                    <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                      <div style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size: 100%; margin: 0; padding: 0; margin-top: 0">
                        <!--[if mso]>
                          <v:roundrect href="https://carl.onelink.me/57aG/email" ems:notrack="true" style="width:200px; height:40px; v-text-anchor:middle;" arcsize="50%" stroke="f" fillcolor="#009fe8" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word">
                          <w:anchorlock/>
                          <v:textbox inset="0,0,0,0">
                          <center>
                        <![endif]-->
                        <a href="#" style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size:11px; font-weight:400; margin: 0; padding: 0 24px; margin-top: 0; color: #ffffff; line-height: 40px; background-color: #009fe8; border-radius: 20px; display: inline-block; text-align: center; text-decoration: none; white-space: nowrap; -webkit-text-size-adjust: none">Выбрать авто на лонг-драйв</a>
                        <!--[if mso]>
                          </center>
                          </v:textbox>
                          </v:roundrect>
                        <![endif]-->
                      </div>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </columns>
        </row>
      </columns>
    </row>

    <row>
      <columns>
        <row class="table-layout-fixed grid" dir="rtl">
          <columns small="12" large="6" style="vertical-align: middle;">
            <img class="grid__img small-float-center float-left" src="https://cdn.carl-drive.ru/images/audi-q7-22.png" width="240" height="140" alt="">
          </columns>

          <columns class="grid__col-padding" small="12" style="width: 0px;"></columns>

          <columns small="12" large="6" dir="ltr">
            <h2 class="title" style="Margin-bottom: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #1D252F;">Audi Q7</h2>
            <ul style="Margin: 5px 0 16px 0; margin: 5px 0 16px 0; padding: 0 0 0 15px;">
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Салон-гостиная с массажными креслами</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">40 (!) умных ассистентов под капотом</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Цена ÷ качество = восторг</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Никого не укачает, даже если постараться</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Гарантия на 4 года, вместо обычных 2-х</li>
            </ul>

            <table class="button float-center" style="Margin:0 auto 16px auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto 16px auto;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:center;vertical-align:top;width:auto">
              <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#009fe8;border:0 solid transparent!important;border-collapse:collapse!important;border-radius:50px;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table style="border-collapse:collapse;border-spacing:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;width:100%">
                    <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                      <div style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size: 100%; margin: 0; padding: 0; margin-top: 0">
                        <!--[if mso]>
                          <v:roundrect href="https://carl.onelink.me/57aG/email" ems:notrack="true" style="width:200px; height:40px; v-text-anchor:middle;" arcsize="50%" stroke="f" fillcolor="#009fe8" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word">
                          <w:anchorlock/>
                          <v:textbox inset="0,0,0,0">
                          <center>
                        <![endif]-->
                        <a href="#" style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size:11px; font-weight:400; margin: 0; padding: 0 24px; margin-top: 0; color: #ffffff; line-height: 40px; background-color: #009fe8; border-radius: 20px; display: inline-block; text-align: center; text-decoration: none; white-space: nowrap; -webkit-text-size-adjust: none">Выбрать авто на лонг-драйв</a>
                        <!--[if mso]>
                          </center>
                          </v:textbox>
                          </v:roundrect>
                        <![endif]-->
                      </div>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </columns>
        </row>
      </columns>
    </row>

    <row>
      <columns>
        <row class="table-layout-fixed grid">
          <columns small="12" large="6" style="vertical-align: middle;">
            <img class="grid__img small-float-center float-left" src="https://cdn.carl-drive.ru/images/audi-etron-22.png" width="240" height="140" alt="">
          </columns>

          <columns class="grid__col-padding" small="12" style="width: 0px;"></columns>

          <columns small="12" large="6">
            <h2 class="title" style="Margin-bottom: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #1D252F;">Audi e-tron</h2>
            <ul style="Margin: 5px 0 16px 0; margin: 5px 0 16px 0; padding: 0 0 0 15px;">
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Можно вжарить 130 км/ч по М-11 и до 200 км/ч, если доберётесь до Германии</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Из Москвы до Нижнего (435 км) на одном заряде</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Москва у ваших колёс: бесплатная парковка и зарядные станции</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">Космический интерьер + пляжный комфорт</li>
              <li style="Margin-bottom: 5px; margin-bottom: 5px; font-size: 14px; font-weight: 400; color: #1D252F;">А ещё у Тони Старка была такая</li>
            </ul>

            <table class="button float-center" style="Margin:0 auto 16px auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto 16px auto;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:center;vertical-align:top;width:auto">
              <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;background:#009fe8;border:0 solid transparent!important;border-collapse:collapse!important;border-radius:50px;color:#494E54;font-family:Roboto,Arial,Helvetica,Verdana,sans-serif;font-size:14px;font-weight:300;hyphens:auto;line-height:1.4;margin:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;word-wrap:break-word">
                  <table style="border-collapse:collapse;border-spacing:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top;width:100%">
                    <tr style="padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:left;vertical-align:top">
                      <div style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size: 100%; margin: 0; padding: 0; margin-top: 0">
                        <!--[if mso]>
                          <v:roundrect href="https://carl.onelink.me/57aG/email" ems:notrack="true" style="width:200px; height:40px; v-text-anchor:middle;" arcsize="50%" stroke="f" fillcolor="#009fe8" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word">
                          <w:anchorlock/>
                          <v:textbox inset="0,0,0,0">
                          <center>
                        <![endif]-->
                        <a href="#" style="font-family:Roboto,Arial,Helvetica,Verdana,sans-serif; font-size:11px; font-weight:400; margin: 0; padding: 0 24px; margin-top: 0; color: #ffffff; line-height: 40px; background-color: #009fe8; border-radius: 20px; display: inline-block; text-align: center; text-decoration: none; white-space: nowrap; -webkit-text-size-adjust: none">Выбрать авто на лонг-драйв</a>
                        <!--[if mso]>
                          </center>
                          </v:textbox>
                          </v:roundrect>
                        <![endif]-->
                      </div>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </columns>
        </row>
      </columns>
    </row>
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
