---
subject: New brand
---

{{> header }}

<container class="main">
  <table>
    <tr>
      <td class="top-image-bg" background="../assets/img/welcome-bg.jpg" bgcolor="#009fe8" width="600" height="221">
        <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:221px;"><v:fill type="frame" src="../assets/img/welcome-bg.jpg" color="#009fe8" /><v:textbox inset="0,0,0,0"><div><![endif]-->
        <row>
          <th class="columns first last top-image__logos-wrapper">
            <table>
              <tr>
                <th>
                  <img class="top-image__logo" src="../assets/img/porsche-color.png" width="48" height="49" style="height: 49px;" alt="">
                  <img class="top-image__logo top-image__logo--center" src="../assets/img/caret.png" width="14" height="14" style="height: 14px;" alt="">
                  <img class="top-image__logo" src="../assets/img/carl2.png" width="46" height="47" style="height: 47px;" alt="">
                </th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>
        </row>

        <spacer size="10"></spacer>

        <row>
          <th class="columns first last top-image__logos-wrapper">
            <table>
              <tr>
                <th>
                  <h2 class="title title--white title--second text-center top-image-bg__title">Познакомьтесь с легендарными <br/> автомобилями Porsche.</h2>
                </th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>
        </row>
        <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
      </td>
    </tr>
  </table>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Встречайте %Brand</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">Рады сообщить, что начали сотрудничество с брендом %Brand. В нашем парке представлены следующие автомобили:</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper cars">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed">
                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/panamera.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche Panamera</p>
                </columns>

                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/cayman.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche - 917 Boxter</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/911.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche - 911</p>
                </columns>

                <columns small="12" large="6">
                  <img class="cars__img float-center" src="../assets/img/maccan.jpg" width="216" height="130" alt="">
                  <p class="text text--small text-center cars__text">Porsche - Maccan</p>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="32"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Открыть в приложении</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <spacer size="16"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
