---
subject: New car
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Встречайте %Brand %Model</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">Представляем вашему вниманию: %Porsche %Macan. В нашем парке представлен автомобиль комплектации %название комплектации с %объемом двигателя, разгоном в %секунд, бензином %литров и стоимостью в % рублей.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="32"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <img class="float-center" src="http://placehold.it/468x200/009fe8/ffffff" width="468" height="200" alt="">
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Открыть в приложении</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <h2 class="title">Смотрите, что есть в этом автомобиле:</h2>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row>
                <columns small="12" large="12" class="pb0">
                  <h3 class="title title--bold">%Название категории (динамика итд)</h3>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid">
                    <columns small="12" large="4">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="8">
                      <p class="text">7-ступенчатая коробка передач Porsche Doppelkupplung (PDK) - одна из лучших роботизированых коробок в мире с корнями в спортивных победах Porsche.</p>
                    </columns>
                  </row>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="4">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="8" dir="ltr">
                      <p class="text">7-ступенчатая коробка передач Porsche Doppelkupplung (PDK) - одна из лучших роботизированых коробок в мире с корнями в спортивных победах Porsche.</p>
                    </columns>
                  </row>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid">
                    <columns small="12" large="4">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="8">
                      <p class="text">7-ступенчатая коробка передач Porsche Doppelkupplung (PDK) - одна из лучших роботизированых коробок в мире с корнями в спортивных победах Porsche.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
