---
subject: Password recovery
---

{{> header }}

<container class="main">
  <spacer size="82"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Восстановление пароля</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">От Вас поступила заявка на восстановление пароля.</p>

              <spacer size="26"></spacer>

              <p class="text text--bold">Ваш логин: <span style="font-weight: 300;">Login</span></p>
              <p class="text text--bold">Ваш пароль: <span style="font-weight: 300;">Password</span></p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
