---
subject: Podrobnee ob avtomobile
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Попробуйте %Brand %Model</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">Мы заметили, что вы интересовались %Porsche %Macan в нашем приложении. Давайте расскажем об этом автомобиле подробнее:</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row class="brand-model">
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed grid">
                <columns small="12" large="6" valign="middle">
                  <img class="brand-model__img" src="../assets/img/maccan-big.jpg" width="240" height="144" alt="">
                </columns>

                <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                <columns small="12" large="6">
                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Комплектация:
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">%Комплектация</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Двигатель
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">3.6 л. / 400 л.с.</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Привод
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">Полный</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Топливо
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">Бензин</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Расход топлива
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">11.1 / 8.1</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Разгон
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">4,8 c</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper promo">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <h2 class="title small-text-center">Отзывы пользователей:</h2>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <img src="../assets/img/instagram-big.png" class="float-center" width="51" height="51" style="height: 51px;" alt="">
              <spacer size="8"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text text-center promo__text">Смотрите отзывы других или оставьте свой в Instagram:</p>
              <p class="text-center promo__text"><a href="#" class="text text--primary text--bold" target="_blank">#carl_BMW_3_GT</a></p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper card">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns class="pb0">
                  <h2 class="title small-text-center">Бонусы при покупке:</h2>
                </columns>
              </row>

              <row>
                <columns class="pb0">
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="5" valign="middle">
                      <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                    </columns>

                    <columns small="12" large="7" valign="middle" dir="ltr">
                      <p class="text card__text">Кстати, если вы купите этот автомобиль, мы подарим вам топливную карту на X-литров в обмен на загрузуку документа с подтверждением.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="4"></spacer>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <h2 class="title">Опции и комплектация:</h2>

              <p class="text">В нашем сервисе представлен автомобиль в комплектации %комплектация. Смотрите, сколько всего там есть.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="16"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">%Динамика</p>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid">
                    <columns small="12" large="6">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="6">
                      <p class="text">Мобильность важна, но она уже давно не занимает центральное место в нашей жизни. Главное, что на любом пути нас ожидают новые открытия и впечатления.</p>
                    </columns>
                  </row>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="6">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="6" dir="ltr">
                      <p class="text">При этом в центре внимания находится абсолютная динамика. Которую мы и ожидаем получить от настоящего спортивного автомобиля.</p>
                    </columns>
                  </row>
                </columns>
              </row>

              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">%Комфорт</p>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid">
                    <columns small="12" large="4">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/160x100/009fe8/ffffff" width="150" height="95" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="8">
                      <p class="text">А комфорт? Он ничем не ограничен – при всем спортивном стиле. Опциональная пневмоподвеска всегда гарантирует неизменное положение кузова над дорогой.</p>
                    </columns>
                  </row>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="4">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/160x100/009fe8/ffffff" width="150" height="95" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="8" dir="ltr">
                      <p class="text">А комфорт? Он ничем не ограничен – при всем спортивном стиле. Опциональная пневмоподвеска всегда гарантирует неизменное положение кузова над дорогой. </p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
