---
subject: Podrobnee ob avtomobile 2
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Попробуйте %Brand %Model</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">Представляем вашему вниманию: %Porsche %Macan. В нашем парке представлен автомобиль комплектации %название комплектации с %объемом двигателя, разгоном в %секунд, бензином %литров и стоимостью в % рублей. Наши консультанты с удовольствием расскажут вам о других комплектациях.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row class="brand-model">
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row class="table-layout-fixed grid">
                <columns small="12" large="6" valign="middle">
                  <img class="brand-model__img" src="../assets/img/maccan-big.jpg" width="240" height="144" alt="">
                </columns>

                <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                <columns small="12" large="6">
                  <row class="table-layout-fixed">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Комплектация:
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">%Комплектация</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed grid">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Двигатель
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">3.6 л. / 400 л.с.</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed grid">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Привод
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">Полный</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed grid">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Топливо
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">Бензин</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed grid">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Расход топлива
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">11.1 / 8.1</p>
                    </columns>
                  </row>

                  <row class="table-layout-fixed grid">
                    <columns small="6" large="6">
                      <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                        Разгон
                      </p>
                    </columns>

                    <columns small="6" large="6">
                      <p class="text text--tiny text--middle text--dark brand-model__text">4,8 c</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>

    <spacer size="16"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Рассказать друзьям</button>
                  </center>

                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="20"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <h2 class="title">Смотрите, что есть в этом автомобиле:</h2>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">%Динамика</p>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid">
                    <columns small="12" large="6">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="6">
                      <p class="text">Мобильность важна, но она уже давно не занимает центральное место в нашей жизни. Главное, что на любом пути нас ожидают новые открытия и впечатления. Мы хотим каждую секунду ощущать динамику жизни. На дороге. И в спортивном автомобиле.</p>
                    </columns>
                  </row>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="6">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="6" dir="ltr">
                      <p class="text">При этом в центре внимания находится абсолютная динамика. Которую мы и ожидаем получить от настоящего спортивного автомобиля.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <row>
                <columns small="12" large="12" class="pb0">
                  <p class="text text--big">%Комфорт</p>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid">
                    <columns small="12" large="4">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/150x95/009fe8/ffffff" width="150" height="95" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="8">
                      <p class="text">А комфорт? Он ничем не ограничен – при всем спортивном стиле. Опциональная пневмоподвеска всегда гарантирует неизменное положение кузова над дорогой. Система Porsche Active Suspension Management (PASM) активно и непрерывно регулирует усилие амортизации. На каждом колесе. Результат? Еще больше комфорта и спортивного стиля – для водителя и всех пассажиров.</p>
                    </columns>
                  </row>
                </columns>
              </row>

              <row>
                <columns>
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="4">
                      <img class="grid__img small-float-center float-left" src="http://placehold.it/150x95/009fe8/ffffff" width="150" height="95" alt="">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="8" dir="ltr">
                      <p class="text">А комфорт? Он ничем не ограничен – при всем спортивном стиле. Опциональная пневмоподвеска всегда гарантирует неизменное положение кузова над дорогой. Система Porsche Active Suspension Management (PASM) активно и непрерывно регулирует усилие амортизации. На каждом колесе. Результат? Еще больше комфорта и спортивного стиля – для водителя и всех пассажиров.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
