---
subject: Podtverzdenie e-mail
---

{{> header }}

<container class="main">
  <spacer size="45"></spacer>

  <center>
    <img src="../assets/img/mail.png" width="100" height="97" style="height: 97px;" alt="">
  </center>

  <spacer size="16"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h1 class="title">Подтверждение e-mail</h1>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день,</p>
              <p class="text">Нам нужно убедиться, что это ваш e-mail. Чтобы подтвердить его, просто нажмите кнопку ниже.</p>
              <p class="text">Если вы не указывали свой e-mail, просто проигнорируйте это письмо.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <center>
    <button href="#">Подтвердить</button>
  </center>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
