---
subject: +20 новых авто по подписке 🎉
---

{{> header }}

<container class="main">
  <table>
    <tr>
      <td class="top-image-bg" background="https://cdn.carl-drive.ru/images/subscribe-hero-10.12.21.png" bgcolor="#ffffff" width="632" height="238" style="background: url('https://cdn.carl-drive.ru/images/subscribe-hero-10.12.21.png') center / cover no-repeat #ffffff;">
        <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:632px;height:238px;"><v:fill type="frame" src="https://cdn.carl-drive.ru/images/subscribe-hero-10.12.21.png" color="#ffffff" /><v:textbox inset="0,0,0,0"><div><![endif]-->
        <wrapper class="content-wrapper" style="max-width: 520px;">
          <row>
            <th class="columns first last">
              <table>
                <tr>
                  <th>
                    <h1 class="title title--white text-left title--main top-image-bg__title" style="width: 250px; font-size: 32px; font-weight: 700;">Подписка, которой вы точно будете пользоваться</h1>
                  </th>
                  <th class="expander"></th>
                </tr>
              </table>
            </th>
          </row>
        </wrapper>
        <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
      </td>
    </tr>
  </table>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 32px; font-weight: 700; color: #1D252F;">+20 новых авто по подписке 🎉</h2>
              <h3 style="Margin-bottom: 26px; margin-bottom: 26px; font-size: 20px; font-weight: 500; color: #1D252F;">от Volkswagen Polo до Tesla Model 3</h3>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns style="padding-bottom: 8px;">
                  <row class="table-layout-fixed grid" dir="rtl">
                    <columns small="12" large="5" style="padding-right: 0px;">
                      <img style="width: 185px;" class="grid__img small-float-center float-right" src="https://cdn.carl-drive.ru/images/subs-10.12.2021.gif" width="480" height="960" alt="Carl">
                    </columns>

                    <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

                    <columns small="12" large="7" dir="ltr" style="padding-left: 0px;">
                      <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 20px; font-weight: 700; color: #1D252F;">Что ещё за подписка?</h2>
                      <p class="text" style="Margin-bottom: 24px; margin-bottom: 24px; color: #1D252F;">Всё просто: пользуетесь новым автомобилем, платите раз в месяц, при этом выкупать и обслуживать его не надо. КАСКО, техобслуживание, сезонная резина, помощь на дороге и даже подменный авто включены в стоимость подписки.</p>

                      <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 20px; font-weight: 700; color: #1D252F;">Какую машину можно взять по подписке?</h2>
                      <p class="text" style="Margin-bottom: 0px; margin-bottom: 0px; color: #1D252F;">Раньше можно было оформить подписку только на Audi и Škoda, а теперь в CARL доступен весь впечатляющий автопарк сервиса The Mashina — Mini, Nissan, Toyota, Volkswagen, Haval, Mercedes, BMW, Tesla и другие марки.</p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 20px; font-weight: 700; color: #1D252F;">А это точно выгодно?</h2>
              <p class="text" style="Margin-bottom: 12px; margin-bottom: 12px; color: #1D252F;">Чтобы купить автомобиль, нужно самому оформлять страховки, платить транспортный налог, менять и хранить резину, возить авто на техобслуживание и шиномонтаж. Зато свой.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 20px; font-weight: 700; color: #1D252F;">Может, есть какая-нибудь скидка? 🙄</h2>
              <p class="text" style="Margin-bottom: 14px; margin-bottom: 14px; color: #1D252F;">Конечно! Оформите подписку на Volkswagen Tiguan от The Mashina в приложении CARL и получите скидку 10 000 ₽ на первый месяц. Так выгодно будет не всегда, так что есть смысл поторопиться.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Выбрать авто по подписке</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    {{> hr }}
  </wrapper>

  <spacer size="30"></spacer>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 4px; margin-bottom: 4px; font-size: 32px; font-weight: 700; color: #1D252F;">CARL + The Mashina = 💙</h2>
              <p class="text" style="Margin-bottom: 14px; margin-bottom: 14px; color: #1D252F;">Мы подготовили для вас специальное предложение: оформите подписку на Volkswagen Tuguan в приложении CARL и получите скидку 10 000 ₽ на первый месяц.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <center>
                <img style="width: 488px; height: auto;" src="https://cdn.carl-drive.ru/images/subscribe-10.12.2021.jpg" width="498" height="280" alt="phone-image">
              </center>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <spacer size="14"></spacer>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title" style="Margin-bottom: 0px; margin-bottom: 0px; font-size: 20px; font-weight: 700; color: #1D252F;">Итого: подписка удобнее каршеринга, выгоднее кредита и комфортнее покупки.</h2>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="14"></spacer>

  <wrapper>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#">Выбрать авто по подписке</button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <spacer size="14"></spacer>

  <wrapper class="content-wrapper" style="max-width: 520px;">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text" style="Margin-bottom: 0px; margin-bottom: 0px; color: #1D252F;">Ни гвоздя вам, ни жезла!<br />Всегда на связи, CARL.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
