---
subject: Test drive booking
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <h2 class="title">Тест-драйв %Brand %Model забронирован</h2>

            <spacer size="26"></spacer>

            <p class="text text--bold">Добрый день, %Username!</p>
            <p class="text">Ваш тест-драйв запланирован на 22 ноября в 16:00. Консультант CARL свяжется с вами за час до поездки и будет ждать вас по адресу: Москва, Фестивальная ул., 29</p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </wrapper>

  <wrapper class="content-wrapper travel-info">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns small="12" large="6">
                  <h4 class="title title--bold small-text-center">Информация о поездке:</h4>

                  <row>
                    <columns small="12" large="4">
                      <wrapper class="calendar">
                        <row class="calendar__header">
                          <columns>
                            <spacer size="6"></spacer>
                            <p class="text text--super-tiny text--bold text-center calendar__month">Февраль</p>
                            <spacer size="6"></spacer>
                          </columns>
                        </row>

                        <row class="calendar__body">
                          <columns>
                            <spacer size="2"></spacer>
                            <p class="text text--dark text--bold text--huge text-center calendar__date">22</p>
                          </columns>
                        </row>

                        <row class="calendar__footer">
                          <columns>
                            <p class="text text--super-tiny text--dark text--bold text-center calendar__day">пн</p>
                            <spacer size="6"></spacer>
                          </columns>
                        </row>
                      </wrapper>
                    </columns>

                    <columns small="12" large="8">
                      <wrapper style="max-width: 66px;">
                        <img class="float-left travel-info__travel-line" src="../assets/img/travel-line.png" width="12" height="58" style="height: 58px;" alt="">

                        <p class="text text--small text--bold text--black travel-info__time">16:00</p>
                        <p class="text text--small text--bold text--black travel-info__time travel-info__time--last2">15:00</p>
                      </wrapper>
                    </columns>
                  </row>
                </columns>

                <columns small="12" large="6" valign="middle" style="padding-bottom: 0;">
                  <button href="#" class="travel-info__btn-center" valign="middle">
                    <img class="button__icon" src="../assets/img/calendar.png" valign="middle" width="21" height="21" style="height: 21px;" alt="">
                    Добавить в календарь
                  </button>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper card">
    <spacer size="20"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <th class="small-12 large-5 columns first" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>

                <th class="small-12 large-7 columns last" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <p class="text card__text">Кстати, если после нашего тест-драйва, вы купите этот автомобиль, не забудьте получить в подарок топливную карту на %литров, загрузив чек в приложение.</p>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="4"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper promo">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <spacer size="30"></spacer>
              <img src="../assets/img/instagram-big.png" class="float-center" width="51" height="51" style="height: 51px;" alt="">
              <spacer size="8"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text text-center promo__text">Смотрите отзывы других или оставьте свой в Instagram:</p>
              <p class="text-center promo__text"><a href="#" class="text text--primary text--bold" target="_blank">#carl_BMW_3_GT</a></p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="20"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
