---
subject: Test drive ended
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <h2 class="title">Ваш тест-драйв BMW X5M</h2>

            <spacer size="26"></spacer>

            <p class="text text--bold">Добрый день, %Username!</p>
            <p class="text">Надеемся вам понравилась поездка, и с нашей помощью вы сможете подобрать для себя самый подходящий автомобиль. А пока что в этом письме вы найдете всю необходимую информацию о BMW X5M</p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper card">
    <spacer size="20"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <th class="small-12 large-5 columns first" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>

                <th class="small-12 large-7 columns last" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <p class="text card__text">Кстати, если после нашего тест-драйва, вы купите этот автомобиль, не забудьте получить в подарок топливную карту на %литров, загрузив чек в приложение.</p>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="4"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="16"></spacer>

  <wrapper class="content-wrapper travel-info">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns small="12" large="6">
                  <h3 class="title title--bold small-text-center">Информация о поездке:</h3>

                  <row>
                    <columns small="12" large="4">
                      <wrapper class="calendar">
                        <row class="calendar__header">
                          <columns>
                            <spacer size="6"></spacer>
                            <p class="text text--super-tiny text--bold text-center calendar__month">Февраль</p>
                            <spacer size="6"></spacer>
                          </columns>
                        </row>

                        <row class="calendar__body">
                          <columns>
                            <spacer size="2"></spacer>
                            <p class="text text--dark text--bold text--huge text-center calendar__date">22</p>
                          </columns>
                        </row>

                        <row class="calendar__footer">
                          <columns>
                            <p class="text text--super-tiny text--dark text--bold text-center calendar__day">пн</p>
                            <spacer size="6"></spacer>
                          </columns>
                        </row>
                      </wrapper>
                    </columns>

                    <columns small="12" large="8">
                      <wrapper style="max-width: 189px;">
                        <img class="float-left travel-info__travel-line" src="../assets/img/travel-line.png" width="12" height="58" style="height: 58px;" alt="">

                        <p class="text text--small text--bold text--black travel-info__time">16:00</p>
                        <p class="text text--super-tiny text--gray text--middle travel-info__address">Москва, Фестивальная 29</p>
                        <p class="text text--small text--bold text--black travel-info__time travel-info__time--last">15:00</p>
                        <p class="text text--super-tiny text--gray text--middle travel-info__address">Москва, Тверская 12</p>
                      </wrapper>
                    </columns>
                  </row>

                  <p class="text text--black text--small text--bold small-text-center mb0">
                    <span class="text text--gray">Тариф:</span>
                    1200 Р / 45 минут
                  </p>
                  <p class="text text--black text--small text--bold small-text-center">
                    <span class="text text--gray">Время поездки:</span>
                    00:42:04
                  </p>
                </columns>

                <columns small="12" large="6">
                  <img class="travel-info__map small-float-center float-right" src="http://placehold.it/200x170/009fe8/ffffff" width="200" height="170" alt="">
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row class="show-for-large">
      <th class="small-3 large-3 columns first">
        <a
          href="#"
          target="_blank"
        >
          <table>
            <tr>
              <td bgcolor="#ffffff" background="http://placehold.it/101x120/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x120/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
            </tr>
          </table>
        </a>
      </th>

      <th class="small-3 large-3 columns">
        <a
          href="#"
          target="_blank"
        >
          <table>
            <tr>
              <td bgcolor="#ffffff" background="http://placehold.it/101x140/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x140/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
            </tr>
          </table>
        </a>
      </th>

      <th class="small-3 large-3 columns">
        <a
          href="#"
          target="_blank"
        >
          <table>
            <tr>
              <td bgcolor="#ffffff" background="http://placehold.it/101x130/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x130/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
            </tr>
          </table>
        </a>
      </th>

      <th class="small-3 large-3 columns last">
        <a
          href="#"
          target="_blank"
        >
          <table>
            <tr>
              <td bgcolor="#ffffff" background="http://placehold.it/101x110/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x110/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
            </tr>
          </table>
        </a>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="30"></spacer>

  <wrapper class="content-wrapper stars">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h3 class="title title--bold small-text-center">Отзывы о поездке:</h3>

              <row class="stars__row">
                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center">
                    Характеристики вождения
                  </p>
                </columns>

                <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col text-center">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/gray-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/gray-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                </columns>

                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center text-right">
                    Не очень
                  </p>
                </columns>
              </row>

              <spacer size="16"></spacer>

              <row class="table-layout-fixed grid stars__row">
                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center">
                    Экстерьер
                  </p>
                </columns>

                <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                </columns>

                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center text-right">
                    Нормально
                  </p>
                </columns>
              </row>

              <spacer size="16"></spacer>

              <row class="table-layout-fixed grid stars__row">
                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center">
                    Интерьер
                  </p>
                </columns>

                <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/gray-star.png" width="23" height="22" style="height: 22px;" alt="">
                </columns>

                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center text-right">
                    Приятно
                  </p>
                </columns>
              </row>

              <spacer size="16"></spacer>

              <row class="table-layout-fixed grid stars__row">
                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center">
                    Консультант
                  </p>
                </columns>

                <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col">
                    <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                    <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                    <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                    <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                    <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                </columns>

                <columns small="12" large="3" valign="middle">
                  <p class="text text--small text--normal text--dark small-text-center text-right">
                    Отлично
                  </p>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="16"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns>
                  <center>
                    <button href="#" valign="middle">
                      <img class="button__icon" src="../assets/img/facebook-mini.png" valign="middle" width="8" height="18" style="height: 18px;" alt="">
                      Рассказать друзьям
                    </button>
                  </center>
                </columns>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
  </wrapper>

  <spacer size="16"></spacer>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper promo">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <spacer size="30"></spacer>
              <img src="../assets/img/instagram-big.png" class="float-center" width="51" height="51" style="height: 51px;" alt="">
              <spacer size="8"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text text-center promo__text">Смотрите отзывы других или оставьте свой в Instagram:</p>
              <p class="text-center promo__text"><a href="#" class="text text--primary text--bold" target="_blank">#carl_BMW_3_GT</a></p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="20"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
