---
subject: Toplivnaya karta
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <h2 class="title">Бонусы при покупке автомобиля</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">Не забудьте, что если вы купили автомобиль, мы подарим вам топливную карту <b>CARL x Лукойл</b>> на %литров чтобы обеспечить вас бензином на первое время.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <spacer size="16"></spacer>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <img class="float-center" src="../assets/img/card.png" width="141" height="80" alt="">
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <spacer size="16"></spacer>

    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <p class="text">Для этого необходимо загрузить в приложение фотографию любого подтверждающего документа о покупке автомобиля.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <spacer size="16"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
