---
subject: Zapros komercheskovo predlozenia
---

{{> header }}

<container class="main">
  {{> top-image-and-bg }}

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h2 class="title">Предложения со скидами прямо в телефоне, без поездок в дилерский центр</h2>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день, %Username!</p>
              <p class="text">Теперь вам не нужно ехать в дилерский центр, чтобы получить предложение и расчитать скидку.</p>
              <p class="text">В вашем телефоне уже доступны все автомобили %Brand %Model в наличии в дилерских центрах.</p>
              <p class="text">Чтобы получить предложение со скидками запросите коммерческое предложение по интересущему вас автомобилю, указав текущий автомобиль на Trade-In, кредит или КАСКО. Дилер ответит вам прямо в мобильное приложение, без передачи ваших контактов.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <wrapper class="content-wrapper card">
    <spacer size="20"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <th class="small-12 large-5 columns first" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>

                <th class="small-12 large-7 columns last" valign="middle">
                  <table>
                    <tr>
                      <th>
                        <p class="text card__text">Кстати, не забудьте получить в подарок топливную карту, загрузив документ о покупке автомобиля в приложение.</p>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </row>
            </th>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </row>
    <spacer size="4"></spacer>
  </wrapper>

  <wrapper class="content-wrapper">
    {{> hr }}
  </wrapper>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
