---
subject: Zapros na predoplatu
---

{{> header }}

<container class="main">
  <spacer size="45"></spacer>

  <center>
    <img class="float-center" src="../assets/img/Frame.png" width="95" height="95" style="height: 95px;" alt="">
  </center>

  <spacer size="36"></spacer>

  <wrapper class="content-wrapper">
    <row>
      <th class="columns first last">
        <table>
          <tr>
            <th>
              <h1 class="title">Предоплата</h1>

              <spacer size="26"></spacer>

              <p class="text text--bold">Добрый день,</p>
              <p class="text">Клиент забронировал у вас автомобиль. Свяжитесь с ним.</p>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>

  <wrapper class="client-wrapper content-wrapper">
    <wrapper class="client content-wrapper">
      <row>
        <th class="columns first last pl0 pr0 pb0">
          <table>
            <tr>
              <th>
                <spacer size="20"></spacer>
                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--bold text--dark client__text">
                      Клиент:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--bold text--dark client__text">
                      <img class="client__avatar" src="../assets/img/avatar.jpg" width="24" height="24" alt="" valign="middle">
                      Виталий
                    </p>
                  </columns>
                </row>

                <spacer size="10"></spacer>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--bold text--dark client__text">
                      Запрос КП:
                    </p>
                  </columns>

                  <columns small="7" large="8"></columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      Автомобиль:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      Prosche Panamera, Серый металлик, 2.8 л. / 184 л.с.
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      Срок бронирования:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      15 000 рублей / до 25 марта 2019 года.
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      VIN / ID
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      SDF76SDF76SDF7DSF / <a href class="text text--middle text--dark" style="pointer-events: none;text-decoration:none;">2342342</a>
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      TradE-in:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      ДА — BMW X5, 2009, 300 лс
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      КАСКО:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      НЕТ
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      Кредит:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      ДА — 70% первоначальный взнос
                    </p>
                  </columns>
                </row>

                <spacer size="8"></spacer>
                {{> hr-big }}
                <spacer size="16"></spacer>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--bold text--dark client__text">
                      Ответ дилера:
                    </p>
                  </columns>

                  <columns small="7" large="8"></columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      Цена:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      8 950 000 РРЦ (- 250 000 скидка)
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      Кредит:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      5 предложений
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      КАСКО:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      6 предложений
                    </p>
                  </columns>
                </row>

                <row class="table-layout-fixed">
                  <columns small="5" large="4" valign="middle">
                    <p class="text text--tiny text--uppercase text--dark client__text">
                      Бонусы:
                    </p>
                  </columns>

                  <columns small="7" large="8" valign="middle">
                    <p class="text text--tiny text--middle text--dark client__text">
                      Резина, первое ТО ..
                    </p>
                  </columns>
                </row>
              <spacer size="12"></spacer>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
    </wrapper>
  </wrapper>

  <spacer size="30"></spacer>

  <center>
    <button href="#">Связаться с клиентом</button>
  </center>

  <spacer size="30"></spacer>

  {{> footer }}
</container>

<spacer size="16"></spacer>

{{> copyright }}
