<wrapper class="auto-available-wrapper content-wrapper">
  <wrapper class="auto-available">
    <spacer size="11"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns class="auto-available__col" small="6" large="7" valign="middle">
                  <h4 class="title title--bold auto-available__text">Porsche Ленинградский</h4>
                </columns>

                <columns class="auto-available__col" small="6" large="5" valign="middle">
                  <row>
                    <columns class="auto-available__col" valign="middle">
                      <p class="text text--small text--middle text--primary text-right auto-available__text auto-available__text--nowrap">
                        автомобилей
                        <span class="auto-available__badge text text--white">
                          <span style="display: inline-block; margin-top: 5px">6</span>
                        </span>
                      </p>
                    </columns>
                  </row>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
    <spacer size="11"></spacer>
  </wrapper>
</wrapper>


