<row class="brand-model">
  <th class="columns first last">
    <table>
      <tr>
        <th>
          <row class="table-layout-fixed grid">
            <columns small="12" large="6" valign="middle">
              <img class="brand-model__img" src="../assets/img/maccan-big.jpg" width="240" height="144" alt="">
            </columns>

            <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

            <columns small="12" large="6">
              <row class="table-layout-fixed">
                <columns small="6" large="6">
                  <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                    Комплектация:
                  </p>
                </columns>

                <columns small="6" large="6">
                  <p class="text text--tiny text--middle text--dark brand-model__text">%Комплектация</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="6" large="6">
                  <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                    Двигатель
                  </p>
                </columns>

                <columns small="6" large="6">
                  <p class="text text--tiny text--middle text--dark brand-model__text">3.6 л. / 400 л.с.</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="6" large="6">
                  <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                    Привод
                  </p>
                </columns>

                <columns small="6" large="6">
                  <p class="text text--tiny text--middle text--dark brand-model__text">Полный</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="6" large="6">
                  <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                    Топливо
                  </p>
                </columns>

                <columns small="6" large="6">
                  <p class="text text--tiny text--middle text--dark brand-model__text">Бензин</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="6" large="6">
                  <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                    Расход топлива
                  </p>
                </columns>

                <columns small="6" large="6">
                  <p class="text text--tiny text--middle text--dark brand-model__text">11.1 / 8.1</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="6" large="6">
                  <p class="text text--super-tiny text--dark text--uppercase brand-model__text">
                    Разгон
                  </p>
                </columns>

                <columns small="6" large="6">
                  <p class="text text--tiny text--middle text--dark brand-model__text">4,8 c</p>
                </columns>
              </row>
            </columns>
          </row>
        </th>
      </tr>
    </table>
  </th>
  <th class="expander"></th>
</row>
