<wrapper class="content-wrapper">
  <center>
    <button href="#">
      <img class="button__icon" src="../assets/img/facebook-mini.png" valign="middle" width="8" height="18" style="height: 18px;" alt="">
      Рассказать друзьям
    </button>
  </center>

  <center>
    <button href="#">
      <img class="button__icon" src="../assets/img/calendar.png" valign="middle" width="21" height="21" style="height: 21px;" alt="">
      Добавить в календарь
    </button>
  </center>

  <center>
    <button href="#">Подтвердить</button>
  </center>
</wrapper>
