<wrapper class="calendar">
  <row class="calendar__header">
    <columns>
      <spacer size="6"></spacer>
      <p class="text text--super-tiny text--bold text-center calendar__month">Февраль</p>
      <spacer size="6"></spacer>
    </columns>
  </row>
  
  <row class="calendar__body">
    <columns>
      <spacer size="2"></spacer>
      <p class="text text--dark text--bold text--huge text-center calendar__date">22</p>
    </columns>
  </row>
  
  <row class="calendar__footer">
    <columns>
      <p class="text text--super-tiny text--dark text--bold text-center calendar__day">пн</p>
      <spacer size="6"></spacer>
    </columns>
  </row>
</wrapper>