<wrapper class="content-wrapper card">
  <spacer size="20"></spacer>
  <row>
    <th class="columns first last pb0">
      <table>
        <tr>
          <th>
            <row>
              <columns class="pb0">
                <h2 class="title   small-text-center">Бонусы при покупке:</h2>
              </columns>
            </row>

            <row class="table-layout-fixed" dir="rtl">
              <th class="small-12 large-5 columns first" valign="middle">
                <table>
                  <tr>
                    <th>
                      <img class="card__img float-center" src="../assets/img/card.png" width="141" height="80" alt="">
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>

              <th class="small-12 large-7 columns last" valign="middle" dir="ltr">
                <table>
                  <tr>
                    <th>
                      <p class="text card__text">Кстати, если после нашего тест-драйва, вы купите этот автомобиль, не забудьте получить в подарок топливную карту на %литров, загрузив чек в приложение.</p>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>
            </row>
          </th>
        </tr>
      </table>
    </th>
    <th class="expander"></th>
  </row>
  <spacer size="4"></spacer>
</wrapper>
