<wrapper class="content-wrapper cars">
  <row>
    <th class="columns first last pb0">
      <table>
        <tr>
          <th>
            <row class="table-layout-fixed">
              <columns small="12" large="6">
                <img class="cars__img float-center" src="../assets/img/panamera.jpg" width="216" height="130" alt="">
                <p class="text text--small text-center cars__text">Porsche Panamera</p>
              </columns>

              <columns small="12" large="6">
                <img class="cars__img float-center" src="../assets/img/cayman.jpg" width="216" height="130" alt="">
                <p class="text text--small text-center cars__text">Porsche - 917 Boxter</p>
              </columns>
            </row>

            <row class="table-layout-fixed">
              <columns small="12" large="6">
                <img class="cars__img float-center" src="../assets/img/911.jpg" width="216" height="130" alt="">
                <p class="text text--small text-center cars__text">Porsche - 911</p>
              </columns>

              <columns small="12" large="6">
                <img class="cars__img float-center" src="../assets/img/maccan.jpg" width="216" height="130" alt="">
                <p class="text text--small text-center cars__text">Porsche - Maccan</p>
              </columns>
            </row>
          </th>
        </tr>
      </table>
    </th>
    <th class="expander"></th>
  </row>
  <spacer size="32"></spacer>
</wrapper>
