<wrapper class="client-wrapper content-wrapper">
  <wrapper class="client content-wrapper">
    <row>
      <th class="columns first last pl0 pr0 pb0">
        <table>
          <tr>
            <th>
              <spacer size="20"></spacer>
              <row>
                <columns valign="middle">
                  <img class="client__car-logo" src="../assets/img/porsche-logo.png" width="27" height="34" alt="">

                  <span class="client__address">
                    <h4 class="title title--bold client__text">Порше Центр Москва</h4>
                    <p class="text text--tiny text--dark client__text">Москва г., Ленинградское ш., стр. 1, вл. 14</p>
                  </span>
                </columns>
              </row>

              <spacer size="8"></spacer>
              {{> hr }}
              <spacer size="12"></spacer>

              <row>
                <columns small="12" large="8">
                  <p class="text text--big text--bold client__text client__text-big-line">Porsche Panamera 4s</p>
                  <spacer size="3"></spacer>

                  <p class="text text--big text--bold text--primary client__text client__text-big-line">
                    2 150 000 руб.
                    <span class="text-badge">-123 000 руб.</span>
                  </p>

                  <spacer size="5"></spacer>
                  <p class="text text--small text--dark">
                    Цена без скидок:
                    <b class="text text--middle">
                      <strike class="text text--bold text--dark">
                        2 274 000 руб.
                      </strike>
                    </b>
                  </p>
                </columns>

                <columns small="12" large="4" valign="middle">
                  <img class="client__car-img" src="../assets/img/porsche.png" width="130" height="57" alt="">
                </columns>
              </row>

              <row>
                <columns>
                  <p class="text text--small text--dark">Предложение действует <b class="text text--middle">до 14 января (7 дней)</b></p>
                <p class="text text--small text--dark client__text"><b class="text text--middle">• Серый металлик, полный привод, 2.8 л. / 184 л.с.</b></p>
                <p class="text text--small text--dark client__text"><b class="text text--middle">• Бонусы:</b> КАСКО, Резина, Коврики</p>
                </columns>
              </row>
              <spacer size="12"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>
</wrapper>
