<wrapper class="client-wrapper content-wrapper">
  <wrapper class="client content-wrapper">
    <row>
      <th class="columns first last pl0 pr0 pb0">
        <table>
          <tr>
            <th>
              <spacer size="20"></spacer>
              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--bold text--dark client__text">
                    Клиент:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--bold text--dark client__text">
                    <img class="client__avatar" src="../assets/img/avatar.jpg" width="24" height="24" alt="" valign="middle">
                    Виталий
                  </p>
                </columns>
              </row>

              <spacer size="10"></spacer>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Бюджет:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">До 6 млн. руб.</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Текущий авто:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">BMW X5</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Рассматривает:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">Land Rover Range Rover</p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Для кого:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">Для себя</p>
                </columns>
              </row>

              <spacer size="8"></spacer>
              {{> hr-big }}
              <spacer size="12"></spacer>

              <row class="table-layout-fixed">
                <columns class="client__gallery">
                  <img class="client__gallery-img" src="http://placehold.it/67x51/009fe8/ffffff" width="67" height="51" style="height: 51px;" alt="">
                  <img class="client__gallery-img" src="http://placehold.it/67x51/009fe8/ffffff" width="67" height="51" style="height: 51px;" alt="">
                  <img class="client__gallery-img" src="http://placehold.it/67x51/009fe8/ffffff" width="67" height="51" style="height: 51px;" alt="">
                </columns>
              </row>
              <spacer size="12"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>
</wrapper>
