<wrapper class="client-wrapper content-wrapper">
  <wrapper class="client content-wrapper">
    <row>
      <th class="columns first last pl0 pr0 pb0">
        <table>
          <tr>
            <th>
              <spacer size="20"></spacer>
              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--bold text--dark client__text">
                    Запрос КП:
                  </p>
                </columns>

                <columns small="7" large="8"></columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Автомобиль:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    Prosche Panamera, Серый металлик, 2.8 л. / 184 л.с.
                  </p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    TradE-in:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    ДА — BMW X5, 2009, 300 лс
                  </p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    КАСКО:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    НЕТ
                  </p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Кредит:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    ДА — 70% первоначальный взнос
                  </p>
                </columns>
              </row>

              <spacer size="8"></spacer>
              {{> hr-big }}
              <spacer size="16"></spacer>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--bold text--dark client__text">
                    Ответ дилера:
                  </p>
                </columns>

                <columns small="7" large="8"></columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Цена:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    8 950 000 РРЦ (- 250 000 скидка)
                  </p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Кредит:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    5 предложений
                  </p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    КАСКО:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    6 предложений
                  </p>
                </columns>
              </row>

              <row class="table-layout-fixed">
                <columns small="5" large="4" valign="middle">
                  <p class="text text--tiny text--uppercase text--dark client__text">
                    Бонусы:
                  </p>
                </columns>

                <columns small="7" large="8" valign="middle">
                  <p class="text text--tiny text--middle text--dark client__text">
                    Резина, первое ТО ..
                  </p>
                </columns>
              </row>
              <spacer size="12"></spacer>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
  </wrapper>
</wrapper>
