<container class="copyright">
  <spacer class="show-for-large" size="17"></spacer>

  <row>
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <p class="text text--gray text--tiny copyright__text text-center">Вы получили это сервисное сообщение, так как зарегистрировались в сервисе CARL.</p>
            <p class="text text--gray text--tiny copyright__text text-center">&copy; 2018&nbsp;-&nbsp;2020, «CARL RUS», OOO. Все права защищены.</p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </row>

  <spacer class="show-for-large" size="5"></spacer>

  <center class="copyright__menu">
    <a href="#" class="copyright__link" target="_blank">Служба поддержки</a>
    <span class="copyright__divider">&nbsp;|&nbsp;</span>
    <a href="#" class="copyright__link" target="_blank">Пользовательское соглашение</a>
    <span class="copyright__divider">&nbsp;|&nbsp;</span>
    <a href="#" class="copyright__link" target="_blank">Политика конфиденциальности</a>
    <span class="copyright__divider">&nbsp;|&nbsp;</span>
    <a href="#" class="copyright__link" target="_blank">Отписаться от рассылки</a>
  </center>

  <spacer size="30"></spacer>
</container>
