<wrapper class="content-wrapper dealers">
  <h3 class="dealers__title title title--uppercase text-center">Остальные дилеры:</h3>

  {{> hr }}

  {{> dealer-item }}
  {{> dealer-item }}
  {{> dealer-item }}
</wrapper>
