<spacer size="6"></spacer>
<row>
  <th class="columns first last">
    <table>
      <tr>
        <th>
          <row>
            <columns small="9" large="10" valign="middle">
              <h4 class="title title--bold dealers__subtitle">Порше Центр Ясенево</h4>
              <p class="text text--tiny text--gray dealers__text">Москва, Ленинградское ш., 1/14 | <a href class="text text--gray" style="pointer-events: none;text-decoration:none;">800 800 8082</a> | <a class="text text--gray" style="pointer-events: none;text-decoration:none;">bmw.borishof.ru</a></p>
            </columns>

            <columns small="2" large="1" valign="middle">
              <img src="../assets/img/arrow.png" class="float-right" width="7" height="12" alt="">
            </columns>
          </row>
        </th>
      </tr>
    </table>
  </th>
  <th class="expander"></th>
</row>
<spacer size="6"></spacer>
{{> hr }}
