<row class="footer">
  <th class="footer columns first last">
    <table>
      <tr>
        <th>
          <spacer class="show-for-large" size="24"></spacer>

          <wrapper class="content-wrapper footer__inner">
            <table class="row">
              <tbody>
                <tr>
                  <th class="small-12 large-6 columns first" valign="middle">
                    <table>
                      <tr>
                        <th class="text-left small-text-center">
                          <a href="https://carl-drive.ru/" class="footer__link" target="_blank">
                            <img class="footer__logo small-float-center" src="../assets/img/logo-white.png" width="80" height="27" style="height: 27px;" alt=""/>
                          </a>
                        </th>
                      </tr>
                    </table>
                  </th>

                  <th class="small-12 large-6 columns last">
                    <table>
                      <tr>
                        <th class="text-right small-text-center">
                          <a href="#" class="footer__link footer__link--not-last" target="_blank">
                            <img class="footer__icon small-float-center" src="../assets/img/facebook.png" width="35" height="35" style="height: 35px;" alt=""/>
                          </a>
                          <a href="#" class="footer__link" target="_blank">
                            <img class="footer__icon small-float-center" src="../assets/img/instagram.png" width="35" height="35" style="height: 35px;" alt=""/>
                          </a>
                        </th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
          </wrapper>
          <spacer class="show-for-large" size="27"></spacer>
        </th>
      </tr>
    </table>
  </th>
</row>
