<row>
  <columns>
    <row class="table-layout-fixed grid" dir="rtl">
      <columns small="12" large="6">
        <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
      </columns>

      <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

      <columns small="12" large="6" dir="ltr">
        <p class="text">При этом в центре внимания находится абсолютная динамика. Которую мы и ожидаем получить от настоящего спортивного автомобиля.</p>
      </columns>
    </row>
  </columns>
</row>
