<row>
  <th class="columns first last">
    <table>
      <tr>
        <th>
          <row class="table-layout-fixed grid">
            <columns small="12" large="6" valign="middle">
              <img class="grid__img float-center" src="../assets/img/phone2.jpg" width="280" height="398" alt="">
            </columns>

            <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

            <columns small="12" large="6" valign="middle">
              <h2 class="title">Поделитесь отзывом об автомобиле с друзьями</h2>
              <p class="text">Подключив аккаунт facebook, вы узнаете какие автомобили уже тестировали ваши друзья, и что они о них думают.</p>
              <p class="text">Свой отзыв вы сможете опубликовать сразу же после прохождения тест-драйва.</p>
            </columns>
          </row>
        </th>
      </tr>
    </table>
  </th>
</row>
