<row>
  <columns>
    <row class="table-layout-fixed grid">
      <columns small="12" large="6">
        <img class="grid__img small-float-center float-left" src="http://placehold.it/240x140/009fe8/ffffff" width="240" height="140" alt="">
      </columns>

      <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

      <columns small="12" large="6">
        <p class="text">Мобильность важна, но она уже давно не занимает центральное место в нашей жизни. Главное, что на любом пути нас ожидают новые открытия и впечатления.</p>
      </columns>
    </row>
  </columns>
</row>
