<row>
  <img class="grid__float-left" src="http://placehold.it/240x140/009fe8/ffffff" align="left" width="240" height="140" alt="">
  <p class="text">Уже опробованная на моделях RX 450h и NX 300h система E-FOUR отвечает за работу полного привода Lexus UX 250h: на зад- ней оси автомобиля установлен дополнительный электромотор. Подключение заднего электромотора при разгоне, прохождении поворотов или при движении по скользкой поверхности выполняется автоматически.</p>
</row>
