<row>
  <columns>
    <row class="table-layout-fixed grid">
      <columns small="12" large="4">
        <img class="grid__img small-float-center float-left" src="http://placehold.it/150x95/009fe8/ffffff" width="150" height="95" alt="">
      </columns>

      <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

      <columns small="12" large="8">
        <p class="text">А комфорт? Он ничем не ограничен – при всем спортивном стиле. Опциональная пневмоподвеска всегда гарантирует неизменное положение кузова над дорогой.</p>
      </columns>
    </row>
  </columns>
</row>
