<row>
  <th class="columns first last">
    <table>
      <tr>
        <th>
          <row class="table-layout-fixed grid" dir="rtl">
            <columns small="12" large="6" valign="middle">
              <img class="grid__img float-center" src="../assets/img/phone.jpg" width="280" height="398" alt="">
            </columns>

            <columns class="grid__col-padding" small="12" style="width: 16px;"></columns>

            <columns small="12" large="6" dir="ltr" valign="middle">
              <h2 class="title">Выбирайте из лучших предложений от дилеров</h2>
              <p class="text">После тест-драйва, все подключенные к системе дилеры пришлют вам персональные предложения с конкретными автомобилями прямо в приложение. Останется только выбрать подходящий вариант.</p>
            </columns>
          </row>
        </th>
      </tr>
    </table>
  </th>
</row>
