<table class="row">
  <tbody class="grid">
    <tr>
      <td class="grid__bg" background="../assets/img/bg.jpg" bgcolor="#ffffff" width="600" height="484">
        <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:484px;"><v:fill type="frame" src="../assets/img/bg.jpg" color="#ffffff" /><v:textbox inset="0,0,0,0"><div><![endif]-->
        <row>
          <th class="columns first last">
            <table>
              <tr>
                <th>
                  <wrapper>
                    <table class="row">
                      <tbody>
                        <tr>
                          <th class="small-12 large-6 columns first pb0" valign="middle">
                            <table>
                              <tr>
                                <th>
                                  <img class="grid__img float-center" src="../assets/img/phone0.png" width="281" height="500" alt="">
                                </th>
                              </tr>
                            </table>
                          </th>

                          <th class="small-12 large-5 columns last" valign="middle">
                            <table>
                              <tr>
                                <th>
                                  <h2 class="title text--white">Забронируйте тест-драйв через приложение:</h2>
                                  <p class="text text--white grid__bg-sizer">Выбирайте автомобиль, удобное время, а так же место тест-драйва, об остальном мы позаботимся.</p>
                                </th>
                              </tr>
                            </table>
                          </th>

                          <th class="expander"></th>
                        </tr>
                      </tbody>
                    </table>
                  </wrapper>
                </th>
              </tr>
            </table>
          </th>
          <th class="expander"></th>
        </row>
        <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
      </td>
    </tr>
  </tbody>
</table>
