<container class="header">
  <th class="columns first last">
    <table>
      <tr>
        <th>
          <spacer size="31"></spacer>
          <center>
            <a href="https://carl-drive.ru" class="header__link" target="_blank">
              <img class="header__logo" src="https://suite34.emarsys.net/custloads/794229961/md_635987.png" width="84" height="29" style="height: 29px;" alt=""/>
            </a>
          </center>

          <spacer size="12"></spacer>
        </th>
        <th class="expander"></th>
      </tr>
    </table>
  </th>
</container>
