<table width="100%" height="1" class="hr">
  <tbody>
    <tr>
      <td class="hr__margin" width="30">&nbsp;</td>
      <td class="hr__middle">&nbsp;</td>
      <td class="hr__margin" width="30">&nbsp;</td>
    </tr>
  </tbody>
</table>
