<wrapper class="auto-available-wrapper content-wrapper">
  <wrapper class="auto-available">
    <spacer size="11"></spacer>
    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns valign="middle">
                  <h4 class="title title--bold auto-available__text">
                    <img class="client__avatar" src="../assets/img/avatar.jpg" width="24" height="24" alt="" valign="middle">
                    Peugeot Finance
                  </h4>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>

    <row>
      <th class="columns first last pb0">
        <table>
          <tr>
            <th>
              <row>
                <columns class="auto-available__col" small="6" large="3">
                  <p class="text text--tiny text--dark client__text">
                    Мин. ставка
                  </p>
                  <p class="text text--tiny text--bold text--dark client__text">
                    от 12 %
                  </p>
                </columns>

                <columns class="auto-available__col" small="6" large="3">
                  <p class="text text--tiny text--dark client__text">
                    Мин. взнос
                  </p>
                  <p class="text text--tiny text--bold text--dark client__text">
                    от 10 %
                  </p>
                </columns>

                <columns class="auto-available__col" small="6" large="3">
                  <p class="text text--tiny text--dark client__text">
                    Срок кредита
                  </p>
                  <p class="text text--tiny text--bold text--dark client__text">
                    до 84 мес.
                  </p>
                </columns>

                <columns class="auto-available__col" small="6" large="3">
                  <p class="text text--tiny text--dark client__text">
                    Мин. платеж
                  </p>
                  <p class="text text--tiny text--bold text--dark client__text">
                    48 500 руб.
                  </p>
                </columns>
              </row>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </row>
    <spacer size="11"></spacer>
  </wrapper>
</wrapper>


