<wrapper class="content-wrapper promo">
  <row>
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <row>
              <columns class="pb0">
                <h2 class="title small-text-center">Отзывы пользователей:</h2>
              </columns>
            </row>

            <row>
              <columns>
                <row class="table-layout-fixed grid" dir="rtl">
                  <columns small="12" large="2" valign="middle">
                    <img class="float-center" src="../assets/img/instagram-big.png" width="51" height="51" style="height: 51px;" alt="">
                  </columns>

                  <columns small="12" large="10" valign="middle" dir="ltr">
                    <p class="text small-text-center promo__text mb0">Отзывы об этом автомобиле пользователи публикуют с хеш тегом. <a href="#" class="text text--normal text--primary" target="_blank">#carl_BMW_3_GT</a></p>
                  </columns>
                </row>
              </columns>
            </row>
            <spacer size="4"></spacer>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </row>
</wrapper>
