<wrapper class="content-wrapper promo">
  <row>
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <spacer size="30"></spacer>
            <img src="../assets/img/instagram-big.png" class="float-center" width="51" height="51" style="height: 51px;" alt="">
            <spacer size="8"></spacer>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </row>

  <row>
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <p class="text text-center promo__text">Смотрите отзывы других или оставьте свой в Instagram:</p>
            <p class="text-center promo__text"><a href="#" class="text text--primary text--bold" target="_blank">#carl_BMW_3_GT</a></p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </row>
</wrapper>
