<wrapper class="content-wrapper stars">
  <row>
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <h3 class="title title--bold small-text-center">Отзывы о поездке:</h3>

            <row class="stars__row">
              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center">
                  Характеристики вождения
                </p>
              </columns>

              <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col text-center">
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/gray-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/gray-star.png" width="23" height="22" style="height: 22px;" alt=""/>
              </columns>

              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center text-right">
                  Не очень
                </p>
              </columns>
            </row>

            <spacer size="16"></spacer>

            <row class="table-layout-fixed grid stars__row">
              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center">
                  Экстерьер
                </p>
              </columns>

              <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col">
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt=""/>
              </columns>

              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center text-right">
                  Нормально
                </p>
              </columns>
            </row>

            <spacer size="16"></spacer>

            <row class="table-layout-fixed grid stars__row">
              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center">
                  Интерьер
                </p>
              </columns>

              <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col">
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                <img class="stars__img" src="../assets/img/gray-star.png" width="23" height="22" style="height: 22px;" alt="">
              </columns>

              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center text-right">
                  Приятно
                </p>
              </columns>
            </row>

            <spacer size="16"></spacer>

            <row class="table-layout-fixed grid stars__row">
              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center">
                  Консультант
                </p>
              </columns>

              <columns small="8" large="6" valign="middle" class="small-offset-2 stars__col">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
                  <img class="stars__img" src="../assets/img/blue-star.png" width="23" height="22" style="height: 22px;" alt="">
              </columns>

              <columns small="12" large="3" valign="middle">
                <p class="text text--small text--normal text--dark small-text-center text-right">
                  Отлично
                </p>
              </columns>
            </row>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </row>
</wrapper>
