<row class="stores">
  <th class="columns first last">
    <table>
      <tr>
        <th>
          <wrapper class="stores__wrapper">
            <table class="row">
              <tbody>
                <tr>
                  <th class="small-12 large-6 columns first">
                    <table>
                      <tr>
                        <th class="text-center small-text-center">
                          <a href="#" class="stores__link" target="_blank">
                            <img class="stores__img" src="../assets/img/appstore.png" width="168" height="48" style="height: 48px;" alt="">
                          </a>
                        </th>
                      </tr>
                    </table>
                  </th>

                  <th class="small-12 large-6 columns last">
                    <table>
                      <tr>
                        <th class="text-center small-text-center">
                          <a href="#" class="stores__link" target="_blank">
                            <img class="stores__img" src="../assets/img/android.png" width="168" height="48" style="height: 48px;" alt="">
                          </a>
                        </th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
          </wrapper>
        </th>
      </tr>
    </table>
  </th>
  <th class="expander"></th>
</row>
