<table>
  <tr>
    <td class="top-image-bg" background="../assets/img/welcome-bg.jpg" bgcolor="#009fe8" width="600" height="221">
      <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:221px;"><v:fill type="frame" src="../assets/img/welcome-bg.jpg" color="#009fe8" /><v:textbox inset="0,0,0,0"><div><![endif]-->
      <row>
        <th class="columns first last top-image__logos-wrapper">
          <table>
            <tr>
              <th>
                <img class="top-image__logo" src="../assets/img/porsche-color.png" width="48" height="49" style="height: 49px;" alt="">
                <img class="top-image__logo top-image__logo--center" src="../assets/img/caret.png" width="14" height="14" style="height: 14px;" alt="">
                <img class="top-image__logo" src="../assets/img/carl2.png" width="46" height="47" style="height: 47px;" alt="">
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>

      <spacer size="10"></spacer>

      <row>
        <th class="columns first last top-image__logos-wrapper">
          <table>
            <tr>
              <th>
                <h2 class="title title--white title--second text-center top-image-bg__title">Познакомьтесь с легендарными <br/> автомобилями Porsche.</h2>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
      <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
    </td>
  </tr>
</table>
