<table>
  <tr>
    <td class="top-image-bg" background="{{root}}/assets/img/bg-rect-audi.jpg" style="background-repeat: no-repeat;" bgcolor="#ffffff" width="600" height="259">
      <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:259px;"><v:fill type="frame" src="{{root}}/assets/img/bg-rect-audi.jpg" color="#ffffff" /><v:textbox inset="0,0,0,0"><div><![endif]-->

      <row>
        <th class="columns first last top-image__logos-wrapper">
          <table>
            <tr>
              <th>
                <img class="top-image__logo" src="{{root}}/assets/img/audi-sq5.png" width="500" height="300" alt="">
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>

      <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
    </td>
  </tr>
</table>
