<table>
  <tr>
    <td class="top-image-bg" background="../assets/img/welcome-bg.jpg" bgcolor="#009fe8" width="600" height="221">
      <!--[if gte mso 9]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:221px;"><v:fill type="frame" src="../assets/img/welcome-bg.jpg" color="#009fe8" /><v:textbox inset="0,0,0,0"><div><![endif]-->
      <row>
        <th class="columns first last">
          <table>
            <tr>
              <th>
                <h1 class="title title--white text-center title--main top-image-bg__title">Совершенно новый <br/> способ тест-драйва в городе</h1>
              </th>
              <th class="expander"></th>
            </tr>
          </table>
        </th>
      </row>
      <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
    </td>
  </tr>
</table>
