<wrapper class="content-wrapper travel-info">
  <row>
    <th class="columns first last pb0">
      <table>
        <tr>
          <th>
            <row>
              <columns small="12" large="6">
                <h3 class="title title--bold small-text-center">Информация о поездке:</h3>

                <row>
                  <columns small="12" large="4">
                    <wrapper class="calendar">
                      <row class="calendar__header">
                        <columns>
                          <spacer size="6"></spacer>
                          <p class="text text--super-tiny text--bold text-center calendar__month">Февраль</p>
                          <spacer size="6"></spacer>
                        </columns>
                      </row>

                      <row class="calendar__body">
                        <columns>
                          <spacer size="2"></spacer>
                          <p class="text text--dark text--bold text--huge text-center calendar__date">22</p>
                        </columns>
                      </row>

                      <row class="calendar__footer">
                        <columns>
                          <p class="text text--super-tiny text--dark text--bold text-center calendar__day">пн</p>
                          <spacer size="6"></spacer>
                        </columns>
                      </row>
                    </wrapper>
                  </columns>

                  <columns small="12" large="8">
                    <wrapper style="max-width: 189px;">
                      <img class="float-left travel-info__travel-line" src="../assets/img/travel-line.png" width="12" height="58" style="height: 58px;" alt="">

                      <p class="text text--small text--bold text--black travel-info__time">16:00</p>
                      <p class="text text--super-tiny text--gray text--middle travel-info__address">Москва, Фестивальная 29</p>
                      <p class="text text--small text--bold text--black travel-info__time travel-info__time--last">15:00</p>
                      <p class="text text--super-tiny text--gray text--middle travel-info__address">Москва, Тверская 12</p>
                    </wrapper>
                  </columns>
                </row>

                <p class="text text--black text--small text--bold small-text-center mb0">
                  <span class="text text--gray">Тариф:</span>
                  1200 Р / 45 минут
                </p>
                <p class="text text--black text--small text--bold small-text-center">
                  <span class="text text--gray">Время поездки:</span>
                  00:42:04
                </p>
              </columns>

              <columns small="12" large="6">
                <img class="travel-info__map small-float-center float-right" src="http://placehold.it/200x170/009fe8/ffffff" width="200" height="170" alt="">
              </columns>
            </row>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </row>

  <row class="show-for-large">
    <th class="small-3 large-3 columns first">
      <a
        href="#"
        target="_blank"
      >
        <table>
          <tr>
            <td bgcolor="#ffffff" background="http://placehold.it/101x120/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x120/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
          </tr>
        </table>
      </a>
    </th>

    <th class="small-3 large-3 columns">
      <a
        href="#"
        target="_blank"
      >
        <table>
          <tr>
            <td bgcolor="#ffffff" background="http://placehold.it/101x140/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x140/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
          </tr>
        </table>
      </a>
    </th>

    <th class="small-3 large-3 columns">
      <a
        href="#"
        target="_blank"
      >
        <table>
          <tr>
            <td bgcolor="#ffffff" background="http://placehold.it/101x130/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x130/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
          </tr>
        </table>
      </a>
    </th>

    <th class="small-3 large-3 columns last">
      <a
        href="#"
        target="_blank"
      >
        <table>
          <tr>
            <td bgcolor="#ffffff" background="http://placehold.it/101x110/009fe8/ffffff" width="101" height="100" valign="top" style="background: url('http://placehold.it/101x110/009fe8/ffffff') center / cover no-repeat #ffffff;"></td>
          </tr>
        </table>
      </a>
    </th>
  </row>
</wrapper>
