<wrapper class="content-wrapper">
  <row>
    <th class="columns first last">
      <table>
        <tr>
          <th>
            <h1 class="title">Заголовок H1</h1>

            <h2 class="title">Заголовок H2</h2>

            <h3 class="title">Заголовок H3</h3>

            <h3 class="title title--uppercase">Заголовок H3, uppercase</h3>

            <h3 class="title title--normal">Заголовок H3, normal</h3>

            <h3 class="title title--middle">Заголовок H3, middle</h3>

            <h3 class="title title--bold">Заголовок H3, bold</h3>

            <h4 class="title">Заголовок H4</h4>

            <p class="text text--primary">Параграф p, primary</p>

            <p class="text">Параграф p</p>

            <p class="text text--uppercase">Параграф p, uppercase</p>

            <p class="text text--normal">Параграф p, normal</p>

            <p class="text text--middle">Параграф p, middle</p>

            <p class="text text--bold">Параграф p, bold</p>

            <p class="text text--super-tiny">Параграф p, super-tiny</p>

            <p class="text text--tiny">Параграф p, tiny</p>

            <p class="text text--small">Параграф p, small</p>

            <p class="text text--big">Параграф p, big</p>
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </th>
  </row>
</wrapper>
